<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>handy tmpl</title>
<script type="text/javascript">
gEnv='dev';
</script>
<script type="text/javascript"
	src="../../lib/modernizr.js"></script>
<script type="text/javascript"
	src="../../lib/jquery.js"></script>
<script type="text/javascript"
	src="../../src/js/base/base.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Json.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Object.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Browser.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Debug.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Function.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Class.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Loader.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Events.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Date.js"></script>
<script type="text/javascript"
	src="../../src/js/base/String.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Cookie.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Util.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Support.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Template.js"></script>
<script type="text/javascript"
	src="../../src/js/base/HashChange.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Validator.js"></script>
<script type="text/javascript"
	src="../../src/js/base/adapt.js"></script>
<script type="text/javascript" src="../../../lib/handlebars-v1.3.0.js"></script>
</head>
<body>
<script id="entry-template" type="text/x-handlebars-template">
<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
	{{#if body}}
    	{{#each body}}
			{{name}}
		{{/each}}
	{{else}}
	empty
	{{/if}}
	{{#unless tt}}
		unless
	{{/unless}}
	<div class="items">
	{{#each items}}
		{{#if name}}
		<div class="item">{{name}}</div>
		{{/if}}
	{{/each}}
	</div>
  </div>
</div>
</script>
<script type="text/javascript">
$H.Loader.rootPath={
	'handy'        : '../../src/js'
}

function test(){
	var sTmpl   = document.getElementById("entry-template").innerHTML;
	var aItems=[];
	for(var i=0;i<100;i++){
		aItems.push({
			name:'name'+i
		});
	}
	var oData = {
			title: "My New Post", 
			body: "This is my first post!",
			items:aItems
	   	}

	/* var nTimes=20000;
	var fn=$H.tmpl(sTmpl);
	$D.log(fn);
	$(document.body).append(fn(oData));
	$D.time();
	for(var i=0;i<nTimes;i++){
		fn(oData);
	}
	$D.time(true);
	var fn = Handlebars.compile(sTmpl);
	$D.time();
	for(var i=0;i<nTimes;i++){
		fn(oData);
	}
	$D.time(true);
	return; */
	
	$Require('CM.ModelView',function(ModelView){
		var oView=new ModelView({tmpl:sTmpl,data:oData});
		console.log(oView.html)
		$(document.body).append(oView.html);
	})
}


test();

function test1(){
	var tmpl = 
	'<% for(var i = 0; i < this.posts.length; i++) {' +　
	'var post = this.posts[i]; %>' +
		'<% if(!post.expert){ %>' +
		    '<span>post is null</span>' +
		'<% } else { %>' +
		    '<a href="#"><%=post.expert %> at <%=post.time %></a>' +
		'<% } %>' +
	'<% } %>';
	var data = {
		    "posts": [{
		        "expert": "content 1",
		        "time": "yesterday"
		    },{
		        "expert": "content 2",
		        "time": "today"
		    },{
		        "expert": "content 3",
		        "time": "tomorrow"
		    },{
		        "expert": "",
		        "time": "eee"
		    }]
		};
	$D.log($H.Template.tmpl(tmpl,data));
}
function test2(){
	
	var source =
		  '<ul>'
		+    '<% var e=1,list=this.list;for (var i = 0; i <list.length; i ++) { %>'
		+        '<li>索引 <%= i + 1 %> ：<%= list[i] %><%= this.ee %><%= e %></li>'
		+    '<% } %>'
		+ '</ul>';
	
		var data = {
			ee:'',
		    list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
		};
	
	    var render = template.compile(source);
		console.log(render)
		var html = render(data);
		console.log(html)
}
</script>

</body>
</html>