<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>handy tmpl</title>
<script type="text/javascript">
gEnv='dev';
</script>
<script type="text/javascript"
	src="../../lib/modernizr.js"></script>
<script type="text/javascript"
	src="../../lib/jquery.js"></script>
<script type="text/javascript"
	src="../../src/js/base/base.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Json.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Object.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Browser.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Debug.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Function.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Class.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Loader.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Events.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Date.js"></script>
<script type="text/javascript"
	src="../../src/js/base/String.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Cookie.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Util.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Array.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Geo.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Template.js"></script>
<script type="text/javascript"
	src="../../src/js/base/HashChange.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Support.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Validator.js"></script>
<script type="text/javascript"
	src="../../src/js/base/LocalStorage.js"></script>
<script type="text/javascript"
	src="../../src/js/base/adapt.js"></script>
<script type="text/javascript" src="../../../lib/handlebars-v1.3.0.js"></script>
</head>
<body>
<input value="按钮" type="button" id="button"/>
<script id="entry-template" type="text/x-handlebars-template">
<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
	{{#if body}}
    	<div>if body:{{body}}</div>
	{{else}}
	<div>else body</div>
	{{/if}}
	{{#unless tt}}
		<div>unless</div>
	{{/unless}}
	<input type="text" {{bindAttr id="input133" name="name" value=value}}/>
	<div class="items">
	{{#each items}}
		<div class="item">{{name}}</div>
	{{/each}}
	</div>
  </div>
</div>
</script>
<script type="text/javascript">
$H.Loader.rootPath={
	'handy'        : '../../src/js'
}

function test(){
	var sTmpl   = document.getElementById("entry-template").innerHTML;
	var aItems=[];
	for(var i=0;i<5;i++){
		aItems.push({
			name:'name'+i
		});
	}
	var oData = {
			title: "My New Post", 
			value:"my value",
			body: "This is my first post!",
			items:aItems
	   	}

	/* var nTimes=20000;
	var fn=$H.tmpl(sTmpl);
	$D.log(fn);
	$(document.body).append(fn(oData));
	$D.time();
	for(var i=0;i<nTimes;i++){
		fn(oData);
	}
	$D.time(true);
	var fn = Handlebars.compile(sTmpl);
	$D.time();
	for(var i=0;i<nTimes;i++){
		fn(oData);
	}
	$D.time(true);
	return; */
	
	$Require(['CM.ModelView','CM.Model','CM.Collection'],function(ModelView,Model,Collection){
		
		var CusModel=Model.derive({
			fields:{
				items:Collection
			}
		});
		var oModel=new CusModel(oData);
		console.log(oModel);
		var oView=new ModelView(sTmpl,oModel);
		$(document.body).append(oView.html);
		var i=0,value;
		$("#button").click(function(){
			oView.updateModel({title:'title'+i});
			value=value?'':'body content';
			var oItems=oModel.get('items');
			if(value){
				oItems.add({name:'new name'+i},{at:4});
			}else{
				oItems.remove(oItems.at(2));
			}
			oView.updateModel({body:value,value:value});
			i++;
		});
		
	})
}

test();

</script>

</body>
</html>