.w-icon {
  width: 18px;
  height: 18px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  background-image: url("../img/global.png");
}
.w-icon-bg {
  background-color: #666;
  background-repeat: no-repeat;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.w-icon-location {
  background-position: -101px -15px;
}
.w-icon-edit {
  background-position: -32px -15px;
}
.w-icon-del {
  background-position: -67px -14px;
}
.w-icon-search {
  background-position: -138px -14px;
}
.w-btn {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0.5em 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  padding: .6em 20px;
  min-width: .75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  zoom: 1;
  border: 1px solid #ccc;
  background: #eee;
  font-weight: 700;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  /* old webkit,Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  /* IE10 */

  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  /* Opera 11.10+ */

  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.w-btn:hover {
  border: 1px solid #bbb ;
  background: #dfdfdf ;
  font-weight: bold;
  color: #222 ;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  /* old webkit,Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  /* IE10 */

  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  /* Opera 11.10+ */

  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.w-btn-inline {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  overflow: hidden;
}
.w-btn-blue {
  border: 1px solid #044062;
  background: #396b9e;
  color: #fff;
  text-shadow: 0 1px 0 #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
  /* old webkit,Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#5f9cc5, #396b9e);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#5f9cc5, #396b9e);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#5f9cc5, #396b9e);
  /* IE10 */

  background-image: -o-linear-gradient(#5f9cc5, #396b9e);
  /* Opera 11.10+ */

  background-image: linear-gradient(#5f9cc5, #396b9e);
}
.w-btn-blue:hover {
  border: 1px solid #00415e ;
  background: #4b88b6;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6facd5), to(#4272a4));
  /* old webkit,Saf4+, Chrome */

  background-image: -webkit-linear-gradient(#6facd5, #4272a4);
  /* Chrome 10+, Saf5.1+ */

  background-image: -moz-linear-gradient(#6facd5, #4272a4);
  /* FF3.6 */

  background-image: -ms-linear-gradient(#6facd5, #4272a4);
  /* IE10 */

  background-image: -o-linear-gradient(#6facd5, #4272a4);
  /* Opera 11.10+ */

  background-image: linear-gradient(#6facd5, #4272a4);
}
.w-btn-icon-left {
  padding-left: 40px;
}
.w-btn-icon-left .w-icon {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 10px;
}
.w-btn-icon-top {
  padding-top: 30px;
}
.w-btn-icon-top .w-icon {
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 10px;
}
.w-btn-icon-notxt {
  padding: 0;
  width: 24px;
  height: 24px;
}
.w-btn-icon-notxt .w-icon {
  margin: 3px 1px 2px 1px;
}
.w-input {
  padding: 0 .4em;
  margin: .5em 0;
  position: relative;
  border: 1px solid #aaa;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background: #f9f9f9;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
}
.w-input .w-input-txt {
  border: 0;
  width: 100%;
  padding: .4em 0;
  margin: 0;
  background: transparent none;
  outline: 0!important;
  -webkit-appearance: none;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
}
.w-input-left-icon {
  padding-left: 40px;
}
.w-input-left-icon .w-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
}
.w-input-right-btn {
  padding-right: 40px;
}
.w-input-right-btn .w-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
}
.w-form .w-form-field {
  margin: 1em 0;
}
.w-form .w-form-left {
  width: 25%;
  float: left;
}
.w-form .w-form-right {
  width: 70%;
  float: left;
}
.w-list .w-list-item {
  position: relative;
  border-bottom: 1px solid #a1a1a1;
  padding: 5px;
}
.w-list .w-item-image {
  float: left;
}
.w-list .w-item-content {
  float: left;
}
.w-list .w-item-title {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #505050;
  font-size: 16px;
  padding-bottom: 5px;
}
.w-list .w-item-desc {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #7a7a7a;
  padding-bottom: 1px;
}
.w-list .w-item-link {
  position: absolute;
  background-image: url("../lib/jquery.mobile/images/icons-36-black.png");
  background-position: -215px -36px;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  top: 50%;
  right: 5px;
}
.w-focus {
  -webkit-box-shadow: 0 0 12px #387bbe;
  -moz-box-shadow: 0 0 12px #387bbe;
  box-shadow: 0 0 12px #387bbe;
}
