<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height , target-densitydpi=142" />
<title>组件实例</title> 
<link rel="stylesheet" type="text/css"
	href="../../src/css/reset.css" />
<link rel="stylesheet" type="text/css"
	href="../../src/css/common.css" />
<link rel="stylesheet" type="text/css"
	href="../../src/css/icon.css" />
<link rel="stylesheet" type="text/css"
	href="../../src/css/widget.css" />
<style type="text/css">
	html,body{
		overflow:auto;
		height:auto;
	}
	body{
		padding:60px 20px;
	}
	h3{
		margin:20px 0;
		padding:5px;
		background:#ccc;
	}
</style>
</head>
<body>
	<h3>图标：</h3>
	<div id="iconContainerDv"></div>
	<br/>
	<div id="iconsDv"></div>
	<!-- E 图标 -->
	
	<br/><br/><br/><br/>
	
	<h3>按钮：</h3>
	<div id="buttonContainerDv"></div>
	<br/><br/><br/><br/>
	
	<h3>控制组：</h3>
	<div id="controlGroupDv"></div>
	<br/><br/><br/><br/>
	
	<h3>单选框：</h3>
	<div id="radioDv"></div>
	<br/><br/><br/><br/>
	
	<h3>复选框：</h3>
	<div id="checkboxDv"></div>
	<br/><br/><br/><br/>
	
	<h3>菜单：</h3>
	<div id="menuDv"></div>
	<br/><br/><br/><br/>
	
	<h3>下拉选择框：</h3>
	<div id="selectDv"></div>
	<br/><br/><br/><br/>
	
	<h3>输入框：</h3>
	<div id="inputContainerDv"></div>
	<br/><br/><br/><br/>
	
	<h3>标签栏：</h3>
	<div id="tabDv"></div>
	<br/><br/><br/><br/>
	
	<h3>工具栏：</h3>
	<div id="toolbarDv"></div>
	<br/><br/><br/><br/>
	
	<h3>遮罩层：</h3>
	
	<br/><br/><br/><br/>
	
	<h3>loading：</h3>
	
	<br/><br/><br/><br/>
	
	<h3>对话框：</h3>
	<div id="dialogDv"></div>
	<br/><br/><br/><br/>
	
	<h3>列表：</h3>
	<br/><br/><br/><br/>
	
</body>
<script type="text/javascript"
	src="../../lib/modernizr.js"></script>
<script type="text/javascript"
	src="../../lib/jquery.js"></script>
<script type="text/javascript"
	src="../../src/js/base/base.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Json.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Object.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Browser.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Debug.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Function.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Loader.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Listener.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Date.js"></script>
<script type="text/javascript"
	src="../../src/js/base/String.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Cookie.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Util.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Support.js"></script>
<script type="text/javascript"
	src="../../src/js/base/Template.js"></script>
<script type="text/javascript"
	src="../../src/js/base/HashChange.js"></script>
<script type="text/javascript"
	src="../../src/js/base/adapt.js"></script>
<script type="text/javascript">
$H.Loader.rootPath={
	'handy'        : '../../src/js'
}
$Require([
"c.ComponentManager",
"c.Icon",
"c.Button",
"c.ControlGroup",
"c.Radio",
"c.Checkbox",
"c.Menu",
"c.Select",
"c.Input",
"c.Tab",
"c.Toolbar",
"c.Dialog"],
function(CM,Icon,Button,ControlGroup,Radio,Checkbox,Menu,Select,Input,Tab,Toolbar,Dialog){
	
	$('#iconContainerDv').append(Icon.html({
		cid:'icon',
		name:'edit',
		renderTo:'#iconContainerDv',
		listeners:[
		           {
		        	   type:'afterRender',
		        	   data:'message',
		        	   notEl:true,
		        	   handler:function(oEvt){
		        		   $D.log(oEvt.data);
		        	   }
		           }
		]
	}));
	var icon=CM.get('icon');
	icon.afterRender();
	console.log(icon);
	
	var aIcons=["action","arrow-d-l","arrow-d-r","arrow-d","arrow-l","arrow-r","arrow-u-l","arrow-u-r",
	            "arrow-u","audio","calendar","camera","carat-d","carat-l","carat-r","carat-u","check",
	            "clock","cloud","grid","mail","eye","gear","heart","home","info","bullets","bars",
	            "navigation","lock","search","location","minus","forbidden","edit","user","phone",
	            "plus","power","recycle","forward","refresh","shop","comment","star","tag","back",
	            "video","alert","delete"];
	for(var i=0;i<aIcons.length;i++){
		new Icon({
			renderTo:'#iconsDv',
			name:aIcons[i]
		});
		$("#iconsDv").append('<span style="display:inline-block;width:100px;margin-left:10px;line-height:30px;">'+aIcons[i]+'</span>'+(i%5==4?'<br/>':''));
	}

	
	new Button({
		renderTo:'#buttonContainerDv',
		text:'按钮',
		color:'blue',
		radius:'normal',
		click:function(){
	  		  $D.log(1);
	  	  }
	})
	
	new Button({
		renderTo:'#buttonContainerDv',
		text:'图标按钮',
		items:{
			xtype:"Icon",
			name:"carat-l"
		}
	})
	
	new Button({
		renderTo:'#buttonContainerDv',
		items:{
			xtype:"Icon",
			name:"carat-l"
		}
	})
	
	new ControlGroup({
		renderTo:'#controlGroupDv',
		direction:'h',
		items:[{
			xtype:'Button',
			text:'按钮一'
		},{
			xtype:'Button',
			text:'按钮二'
		},{
			xtype:'Button',
			text:'按钮三'
		}]
	});
	
	//单选框
	var radios=new ControlGroup({
		renderTo:'#radioDv',
		defItem:{
			xtype:'Radio',
			name:'radio'
		},
		items:[{
			value:'1',
			text:'选项一'
		},{
			value:'2',
			checked:true,
			text:'选项二'
		},{
			value:'3',
			text:'选项三'
		}]
	});
	
	new Button({
		renderTo:'#radioDv',
		text:'获取选中值',
		click:function(){
			alert(radios.val());
		}
	})
	
	new Button({
		renderTo:'#radioDv',
		text:'选中第一个',
		click:function(){
			radios.val('1');
		}
	})
	
	//多选框
	var checkboxs=new ControlGroup({
		renderTo:'#checkboxDv',
		defItem:{
			xtype:'Checkbox',
			name:'checkbox'
		},
		items:[{
			value:'1',
			text:'选项一'
		},{
			value:'2',
			checked:true,
			text:'选项二'
		},{
			value:'3',
			checked:true,
			text:'选项三'
		}]
	});
	
	new Button({
		renderTo:'#checkboxDv',
		text:'获取选中值',
		click:function(){
			alert(checkboxs.val());
		}
	})
	
	new Button({
		renderTo:'#checkboxDv',
		text:'选中前两个',
		click:function(){
			checkboxs.val('1,2');
		}
	})
	
	//菜单
	new Button({
		renderTo:"#menuDv",
		text:"普通菜单",
		click:function(){
			if(this.menu){
				this.menu.show();
			}else{
				this.menu=new Menu({
					itemClick:function(menuItem){
						alert(menuItem.value);
					},
					items:[{
						text:"菜单一",
						value:"1"
					},{
						text:"菜单二",
						value:"2"
					}]
				})
			}
		}
	})
	
	//输入框
	new Input({
		renderTo:'#inputContainerDv'
	});
	$('#inputContainerDv').append('<br/>');
	new Input({
		type:'search',
		value:'默认值',
		renderTo:'#inputContainerDv'
	});
	$('#inputContainerDv').append('<br/>');
	new Input({
		renderTo:'#inputContainerDv',
		withClear:true
	});
	$('#inputContainerDv').append('<br/>');
	new Input({
		renderTo:'#inputContainerDv',
		items:{
			xtype:'Button',
			radius:'big',
			items:{
				xtype:"Icon",
				name:'edit'
			}
		}
	});

	new Tab({
		renderTo:'#tabDv',
		items:[
			{
				text:'一',
				isActive:true,
				color:'black',
				items:{
					name:'edit'
				},
				content:'内容1'
			},
			{
				text:'二',
				color:'black',
				items:{
					name:'edit'
				},
				content:'内容2',
				click:function(){
					$D.log(this.index());
				}
			},
			{
				text:'三',
				color:'black',
				items:{
					name:'edit'
				},
				content:'内容3'
			}
		]
	});
	
	new Toolbar({
		renderTo:'#toolbarDv',
		title:'header标题',
		type:'header',
		items:[{
			xtype:'Button',
			isBack:true,
			text:'后退',
			isMini:true,
			pos:'left',
			color:'blue',
			click:function(){
				$D.log(1);
			}
		},{
			xtype:'Button',
			text:'按钮',
			isMini:true,
			pos:'right',
			color:'black'
		}]
	})
	
	var toolbar=new Toolbar({
		renderTo:'#toolbarDv',
		items:[{
			xtype:'Tab',
			items:[
					{
						text:'一',
						isActive:true,
						color:'black',
						items:{
							name:'edit'
						}
					},
					{
						text:'二',
						color:'black',
						items:{
							name:'edit'
						}
					},
					{
						text:'三',
						color:'black',
						items:{
							name:'edit'
						}
					}
				]
		}]
	});
	
	var dialog;
	new Button({
		renderTo:'#dialogDv',
		text:'普通对话框',
		click:function(){
			if(dialog){
				dialog.show();
				return;
			}
			dialog=new Dialog({
				title:'警告',
				contentTitle:'注意!',
				contentMsg:'内容内容内容内容内容内容内容内容内容',
				okCall:function(){
					$D.log('click ok');
					//不关闭弹窗
					return false;
				}
			});
		}
	})
	
	var dialog2;
	new Button({
		renderTo:'#dialogDv',
		text:'alert',
		click:function(){
			if(dialog2){
				dialog2.show();
				return;
			}
			dialog2=Dialog.alert('我是alert！')
		}
	})
	
	var dialog3;
	new Button({
		renderTo:'#dialogDv',
		text:'confirm',
		click:function(){
			if(dialog3){
				dialog3.show();
				return;
			}
			dialog3=Dialog.confirm('我是confirm！',function(result){
				alert('您点击的是'+(result?'确定':'取消')+'，返回：'+result);
			})
		}
	})
	
	var dialog4;
	new Button({
		renderTo:'#dialogDv',
		text:'prompt',
		click:function(){
			if(dialog4){
				dialog4.show();
				return;
			}
			dialog4=Dialog.prompt('请输入:','123',function(result){
				alert('您输入的是：'+result);
			})
		}
	})
	
});
</script>
</html>