//公用less库，class以"c-"开头

@import "function.less";

//S 常用功能样式
.c-left{
	float:left;
}
.c-right{
	float:right;
}
.c-txt-left{
	text-align:left;
}
.c-txt-center{
	text-align:center;
}
.c-txt-right{
	text-align:right;
}
.c-clear{
	zoom:1;
}
.c-clear:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	overflow:hidden;
}
.c-inline{
	.fn_inline_block();
}
//常用字体颜色
.c-txt-error,.c-txt-red{
	color:#c00;
}
.c-txt-warn,.c-txt-yellow{
	color:#ffd306;
}
.c-txt-default{
	color:#222;
}
.c-txt-dimgray{
	color:#333;
}
.c-txt-dark{
	color:#505050;
}
.c-txt-gray{
	color:#6a6a6a;
}
.c-txt-light{
	color:#888;
}
//常用字体大小
.c-txt-big{
	font-size:1.2em;
}
.c-txt-def{
	font-size:1em;
}
.c-txt-little{
	font-size:.8em;
}
.c-txt-mini{
	font-size:.6em;
}
//常用结构
.c-h-middle-container{
	text-align:center;
}
.c-h-middle{
	margin-left:auto;
	margin-right:auto;
}
.c-v-middle{
	position:absolute;
	top:50%;
}
.c-v-middle-line{
	height: 4em;
	line-height: 4em;
	overflow: hidden;
}