// functions started with "fn_"

// set the transparency
.fn_bg_transparency(@degree){
	opacity:@degree/100;
	filter:alpha(opacity=@degree);
}


// wrapping long word - need testing
.fn_word_break(){
	white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */		
    overflow: hidden;
    word-break: break-all;
}

.fn_inline_block(){
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	overflow:hidden;
}

.fn_text_overflow(){
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.fn_border_radius(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius; 
}

.fn_border_tl_radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.fn_border_tr_radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.fn_border_br_radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.fn_border_bl_radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

.fn_box_shadow(@shadow){
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.fn_linear_gradient_top(@from,@to){
	background-image: -webkit-gradient(linear, left top, left bottom, from( @from ), to( @to )); /* old webkit,Saf4+, Chrome */
	background-image: -webkit-linear-gradient( @from , @to ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( @from , @to ); /* FF3.6 */
	background-image:     -ms-linear-gradient( @from , @to ); /* IE10 */
	background-image:      -o-linear-gradient( @from , @to ); /* Opera 11.10+ */
	background-image:         linear-gradient( @from , @to );
	//filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB);/*IE<9>*/
	//-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";/*IE8+*/
}
//http://www.cnblogs.com/lhb25/archive/2013/02/17/css3-linear-gradient.html
