// functions started with "fn_"


// wrapping long word - need testing
.fn_word_break(){
	white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */		
    overflow: hidden;
    word-break: break-all;
}

.fn_opacity(@degree){
	opacity:@degree;
	//这里写在一行会编译出错
	@degreeP:percentage(@degree);
	filter:alpha(opacity=@degreeP);
}

.fn_inline_block(){
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	overflow:hidden;
}

.fn_text_overflow(){
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.fn_user_select(@value:none){
	-webkit-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}
.fn_border_radius(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius; 
}
.fn_border_radius_top(@radius){
	-moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}
.fn_border_radius_bottom(@radius){
	-moz-border-radius-bottomright: @radius;
    -moz-border-radius-bottomleft: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.fn_box_shadow(@shadow){
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
//{box-shadow:inset x-offset y-offset blur-radius spread-radius color}
//http://www.w3cplus.com/content/css3-box-shadow
.fn_linear_gradient_top(@from,@to){
	background-image: -webkit-gradient(linear, left top, left bottom, from( @from ), to( @to )); /* old webkit,Saf4+, Chrome */
	background-image: -webkit-linear-gradient( @from , @to ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( @from , @to ); /* FF3.6 */
	background-image:     -ms-linear-gradient( @from , @to ); /* IE10 */
	background-image:      -o-linear-gradient( @from , @to ); /* Opera 11.10+ */
	background-image:         linear-gradient( @from , @to );
	//filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB);/*IE<9>*/
	//-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";/*IE8+*/
}
//linear-gradient(start point, from , to )
//http://www.w3cplus.com/node/44
.fn_transition(@transition){
	-moz-transition: @transition;
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
//transition ： [<'transition-property'> || <'transition-duration'> || <'transition-timing-function'> || <'transition-delay'> [, [<'transition-property'> || <'transition-duration'> || <'transition-timing-function'> || <'transition-delay'>]]* 
//http://www.w3cplus.com/content/css3-transition
.fn_transform(@transform){
    -moz-transform: @transform;
    -webkit-transform: @transform;
    -o-transform: @transform;
    -ms-transform: @transform;
    transform: @transform;
}
.fn_box_sizing(@value:border-box){
	-moz-box-sizing: @value;  /*Firefox3.5+*/
     -webkit-box-sizing: @value; /*Safari3.2+*/
     -o-box-sizing: @value; /*Opera9.6*/
     -ms-box-sizing: @value; /*IE8*/
     box-sizing: @value; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
}