//组件，class以"w-"开头，次级以上级名称为命名前缀，如上级名为w-list-item,则次级以w-item-为前缀

@import "function.less";

//图标
.w-icon{
	width:18px;
	height:18px;
	.fn_inline_block();
	background-image:url("../img/globle.png");
}
//按钮
.w-button{
	display: block;
	position: relative;
	cursor: pointer;
	margin: 0.5em 0;
	.fn_border_radius(1em);
	.fn_box_shadow( 0 1px 3px rgba(0,0,0,.2));
	text-align: center;
	font-size: 16px;
	padding: .6em 20px;
	min-width: .75em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	zoom:1;
	border: 1px solid #ccc;
	background: #eee;
	font-weight: 700;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	.fn_linear_gradient_top(#fff,#f1f1f1);
	&:hover{
		border: 1px solid 		#bbb ;
		background: 			#dfdfdf ;
		font-weight: bold;
		color: 					#222 ;
		text-shadow: 0 1px 0 #fff;
		.fn_linear_gradient_top(#f6f6f6,#e0e0e0);
	}
}
//内联按钮（自适应宽度）
.w-button-inline{
	.fn_inline_block();
}
//激活的按钮
.w-button-blue{
	border: 1px solid #044062;
	background: #396b9e;
	color: #fff;
	text-shadow: 0 1px 0 #194b7e;
	.fn_linear_gradient_top(#5f9cc5,#396b9e);
	&:hover{
		border: 1px solid #00415e ;
		background: #4b88b6;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #194b7e;
		.fn_linear_gradient_top(#6facd5,#4272a4);
	}
}

.w-list{
	.w-list-item{
		position:relative;
		border-bottom:1px solid #a1a1a1;
		padding:5px;
	}
	.w-item-image{
		float:left;
	}
	.w-item-content{
		float:left;
	}
	.w-item-title{
		.fn_text_overflow();
		color:#505050;
		font-size:16px;
		padding-bottom:5px;
	}
	.w-item-desc{
		.fn_text_overflow();
		font-size:12px;
		color:#7a7a7a;
		padding-bottom:1px;
	}
	.w-item-link{
		position:absolute;
		background-image:url("../lib/jquery.mobile/images/icons-36-black.png");
		background-position:-215px -36px;
		margin-top:-18px;
		width:36px;
		height:36px;
		top:50%;
		right:5px;
	}
}