//组件，class以"hui-"开头，次级以上级名称为命名前缀，如上级名为hui-list-item,则次级以hui-item-为前缀

@import "function.less";

//图标icon
.hui-icon{
	width:22px;
	height:22px;
	.fn_inline_block();
	background-position:center center;
	background-repeat: no-repeat;
	vertical-align:middle;
}
.hui-icon-bg{
	background-color: #666;
	background-color:rgba(0,0,0,.4);
	background-repeat: no-repeat;
	.fn_border_radius(1em);
}

//按钮btn
.hui-btn{
	position: relative;
	text-decoration:none;
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	margin: .5em 0;
	padding: .4em 1em;
	min-width: .75em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	zoom:1;
	font-weight: 700;
	.fn_user_select();
	&:hover{
		font-weight: bold;
	}
}
//灰色按钮
.hui-btn-gray{
	border: 1px solid #ccc;
	background: #eee;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	.fn_linear_gradient_top(#fff,#f1f1f1);
	&:hover{
		border: 1px solid #bbb ;
		background: #dfdfdf ;
		color: #222 ;
		text-shadow: 0 1px 0 #fff;
		.fn_linear_gradient_top(#f6f6f6,#e0e0e0);
	}
}
//黑色
.hui-btn-black{
	border: 1px solid #111;
	background: #333;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	.fn_linear_gradient_top(#444,#2d2d2d);
	&:hover{
		border: 1px solid #000;
		background: #444;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #111;
		.fn_linear_gradient_top(#555,#383838);
	}
	
}
//蓝色按钮
.hui-btn-blue{
	border: 1px solid #044062;
	background: #396b9e;
	color: #fff;
	text-shadow: 0 1px 0 #194b7e;
	.fn_linear_gradient_top(#5f9cc5,#396b9e);
	&:hover{
		border: 1px solid #00415e ;
		background: #4b88b6;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #194b7e;
		.fn_linear_gradient_top(#6facd5,#4272a4);
	}
}
//激活按钮
.hui-btn-active {
	border: 1px solid #2373a5;
	background: #5393c5;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 #3373a5;
	text-decoration: none;
	.fn_linear_gradient_top(#5f9cc5,#6facd5);
}
.hui-btn-active:hover{
	.hui-btn-active;
}
.hui-btn.hui-btn-active-b{
	&,&:hover{
		padding-bottom:0.3em;
		border-bottom:0.2em solid #73bf00;
	}
}
.hui-btn.hui-btn-active-c{
	&,&:hover{
		.hui-icon-bg{
			background-color: #73bf00;
		}
	}
}
//后退箭头按钮
.hui-btn.hui-btn-back{
	overflow:visible;
	margin-left:15px;
	.fn_border_radius_left(.2em);
}
.hui-btn.hui-btn-back:before{
	content:'';
	position:absolute;
}
////支持css3
.hui-mi-csstransforms{
	.hui-btn-back:before{
		left:-0.65em;
		top:0.25em;
		width:1.33em;
		height:1.33em;
		.fn_transform(~"rotate(135deg)");
	}
	.hui-btn-back.hui-shadow-surround:before{
		left:-0.7em;
		top:0.32em;
		//.fn_box_shadow(~"1px 0 0 rgba(255,255,255,.3),inset 0 -1px 0 rgba(255,255,255,.3)");
	}
	//小号后退按钮
	.hui-btn-back.hui-btn-black.hui-mini:before{
		width:1.5em;
		height:1.5em;
		left:-0.8em;
		top:0.32em;
	}
	
	//灰色按钮
	.hui-btn-back.hui-btn-gray:before{
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background-color:#eee;
		.fn_linear_gradient_deg45(#fff,#f1f1f1);
	}
	.hui-btn-back.hui-btn-gray:hover:before{
		background-color:#dfdfdf;
		.fn_linear_gradient_deg45(#f6f6f6,#e0e0e0);
	}
	//黑色按钮
	.hui-btn-back.hui-btn-black:before{
		border-right: 1px solid #111;
		border-bottom: 1px solid #111;
		background-color:#333;
		.fn_linear_gradient_deg45(#444,#2d2d2d);
	}
	.hui-btn-back.hui-btn-black:hover:before{
		background-color:#444;
		.fn_linear_gradient_deg45(#555,#383838);
	}
	//蓝色按钮
	.hui-btn-back.hui-btn-blue:before{
		border-right: 1px solid #044062;
		border-bottom: 1px solid #044062;
		background-color:#396b9e;
		.fn_linear_gradient_deg45(#5f9cc5,#396b9e);
	}
	.hui-btn-back.hui-btn-blue:hover:before{
		background-color:#4b88b6;
		.fn_linear_gradient_deg45(#6facd5,#4272a4);
	}
}
////不支持css3时直接用border实现不渐变的三角形
.hui-mi-no-csstransforms{
	.hui-btn-back{
		border-left:0;
		&:before{
			left:-2em;
			top:0;
			border:1.01em solid transparent;
			border-right:1.01em solid #333;
		}
	}
	//小号按钮
	.hui-btn-back.hui-mini:before{
		left:-2.1em;
		border-width:1.105em;
	}
	//灰色按钮
	.hui-btn-back.hui-btn-gray{
		&:before{
			border-right-color:#eee;
		}
		&:hover:before{
			border-right-color:#dfdfdf;
		}
	}
	//黑色按钮
	.hui-btn-back.hui-btn-black{
		&:before{
			border-right-color:#333;
		}
		&:hover:before{
			border-right-color:#444;
		}
	}
	//蓝色按钮
	.hui-btn-back.hui-btn-blue{
		&:before{
			border-right-color:#396b9e;
		}
		&:hover:before{
			border-right-color:#4b88b6;
		}
	}
}
//带图标按钮
.hui-btn-icon-left,.hui-btn-icon-right{
	.hui-icon{
		position:absolute;
		top:50%;
		margin-top:-11px;
	}
	&.hui-mini{
		.hui-icon{
			margin-top:-9px;
		}
	}
}
.hui-btn-icon-left{
	padding-left:2.3em;
	.hui-icon{
		left:0.7em;
	}
}
.hui-btn-icon-right{
	padding-right:2.3em;
	.hui-icon{
		right:0.7em;
	}
}
.hui-btn-icon-top,.hui-btn-icon-bottom{
	.hui-icon{
		position:absolute;
		left:50%;
		margin-left:-11px;
	}
	&.hui-mini{
		.hui-icon{
			margin-left:-9px;
		}
		
	}
}
.hui-btn-icon-top{
	padding-top:1.8em;
	.hui-icon{
		top:5px;
	}
	&.hui-mini{
		padding-top:1.5em;
		.hui-icon{
			top:2px;
		}
		
	}
}
.hui-btn-icon-bottom{
	padding-bottom:1.8em;
	.hui-icon{
		bottom:5px;
	}
	&.hui-mini{
		padding-bottom:1.5em;
		.hui-icon{
			bottom:2px;
		}
	}
}
.hui-btn-icon-notxt{
	padding:0;
	width:30px;
	height:30px;
	.hui-icon{
		margin: 3px 1px 2px 1px;
	}
}

//控制组
.hui-ctrlgp{
	border: 1px solid #ccc;
	>*{
		margin:0;
	}
}
.hui-ctrlgp-h{
	.fn_inline_block();
	.hui-btn{
		float:left;
		margin:0;
		border-right:0;
		border-top:0;
		border-bottom:0;
		&:first-child{
			border-left:0;
			.fn_border_radius_left(inherit);
		}
		&:last-child{
			.fn_border_radius_right(inherit);
		}
	}
}
.hui-ctrlgp-v{
	.hui-btn{
		margin:0;
		border-bottom:0;
		border-left:0;
		border-right:0;
		&:first-child{
			border-top:0;
			.fn_border_radius_top(inherit);
		}
		&:last-child{
			.fn_border_radius_bottom(inherit);
		}
	}
}

//单选框
.hui-radio,.hui-chkbox{
	&.hui-btn{
		padding-left:35px;
		text-align:left;
		vertical-align:bottom;
		margin:0;
	}
	.hui-icon{
		position:absolute;
		top:50%;
		margin-top:-11px;
		left:10px;
	}
	input{
		display:none;
	}
}

//弹出层
.hui-popup{
	position:absolute;
	z-index: 1000;
	//fix android z-index失效
	-webkit-transform:translateZ(0);
}

//菜单
.hui-menu{
	.hui-popup();
	border: 1px solid #ccc;
	//考虑二级菜单，暂不使用overflow
	//overflow:hidden;
	.hui-btn{
		margin:0;
		border-bottom:0;
		border-left:0;
		border-right:0;
	}
	ul{
		.fn_border_radius(inherit);
	}
	.hui-menu-item{
		position:relative;
		&:first-child{
			&, .hui-btn{
				border-top:0;
				.fn_border_radius_top(inherit);
			}
		}
		&:last-child{
			&, .hui-btn{
				.fn_border_radius_bottom(inherit);
			}
		}
	}
	&.hui-menu-mark{
		.hui-icon-mark{
			position:absolute;
			display:none;
			background:#222;
			left:10px;
			top:50%;
			margin-top:-3px;
			width:6px;
			height:6px;
			.fn_border_radius(3px);
		}
		.hui-item-mark .hui-icon-mark{
			display:block;
		}
	}
}

//下拉选择框
.hui-select{
	input{
		display:none;
	}
}

//滑动选择框
.hui-slidesel{
	position:relative;
	.hui-slidesel-btn{
		
	}
	.hui-slidesel-selector{
		.fn_inline_block();
		height:1.8em;
		padding:.4em 2em;
		border-top:2px solid #222;
		border-bottom:2px solid #222;
	}
	.hui-slidesel-slider{
		position:absolute;
		top:50%;
		text-align:center;
		height:1.8em;
		padding:.4em 2em;
	}
}

//输入框
.hui-input{
	position: relative;
	border: 1px solid #aaa;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #f9f9f9;
	overflow:hidden;
	.hui-input-txt,textarea{
		border: 0;
		width: 100%;
		padding: .4em;
		margin: 0;
		background: transparent none;
		-webkit-appearance: none;
		min-height: 1.4em;
		line-height: 1.4em;
		font-size: 16px;
		.fn_box_sizing(border-box);
		outline:none;
		&:focus{
			outline:none;
		}
		&:active{
			outline:none;
		}
	}
	textarea{
		height:2.8em;
		resize:none;
		display:block;
    	.fn_transition(height 200ms linear);
	}
}
.hui-input-icon-left{
	padding-left:40px;
	.hui-icon{
		position:absolute;
		left:10px;
		top:50%;
		margin-top:-11px;
	}
}
.hui-input-btn-right{
	padding-right:40px;
	.hui-btn{
		position:absolute;
		right:10px;
		top:50%;
		margin-top:-13px;
	}
	.hui-btn-icon-notxt{
		margin-top:-15px;
	}
}

//普通表单
.hui-form{
	.hui-form-tips{
		text-align:center;
	}
	.hui-form-field{
		margin:1em 0;
	}
	.hui-form-left{
		width:20%;
		text-align:right;
		.fn_inline_block();
		vertical-align:middle;
	}
	.hui-form-vt{
		vertical-align:top;
	}
	.hui-form-right{
		width:78%;
		vertical-align:middle;
		.fn_inline_block();
	}
	.hui-form-action{
		padding-left:22%;
		.hui-btn{
			margin-right:30px;
		}
	}
}
//集合区域
.hui-set{
	.hui-set-title{
		padding:.4em;
		text-align:left;
		font-weight:normal;
		border-bottom:1px solid #ccc;
	}
	.hui-set-content{
		margin:2em .7em;
	}
}
//工具栏
.hui-tbar{
	position: relative;
	zoom: 1;
	width:100%;
	font-family: Helvetica,Arial,sans-serif;
	background: #111;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 -1px 0 #000;
	.fn_linear_gradient_top(#3c3c3c,#111);
	.hui-tbar-title{
		min-height: 1.1em;
		text-align: center;
		font-size: 1em;
		display: block;
		padding: .6em 30% .8em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		outline: 0!important;
	}
	.hui-tbar-btn-left,.hui-tbar-btn-right{
		position:absolute;
		top:50%;
		&.hui-mini{
			margin-top:-1.1em;
		}
	}
	.hui-tbar-btn-left{
		left:5px;
	}
	.hui-tbar-btn-right{
		right:5px;
	}
	.hui-btn-icon-notxt{
		margin-top:-15px;
	}
	.hui-tab{
		margin:0;
	}
}
.hui-tbar-gray{
	border: 1px solid #bbb;
	background: #bbb;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	.fn_linear_gradient_top(#ddd,#bbb);
}
.hui-header,.hui-footer{
	position:fixed;
	left:0;
	z-index:100;
}
.hui-header{
	top:0;
}
.hui-footer{
	bottom:0;
}
//标签栏
.hui-tab{
	.hui-tab-item{
		.hui-btn{
			margin:0;
			padding-left:0;
			padding-right:0;
		}
		float:left;
		&:last-child .hui-btn{
			border-right-width:1px;
		}
	}
	.hui-btn{
		border-right-width:0;
	}
}
.hui-tab-border-top,.hui-tab-noborder{
	.hui-btn{
		border-bottom:0;
	}
	.hui-tab-item{
		&:first-child .hui-btn{
			border-left:0;
		}
		&:last-child .hui-btn{
			border-right:0;
		}
	}
}
.hui-tab-noborder{
	.hui-btn{
		border-top:0;
	}
}
//提示
.hui-tips{
	.hui-popup();
	z-index:99999;
	padding:0.8em 1.5em;
	text-align:center;
	.hui-icon-loading{
		display:block;
		width:2.75em;
		height:2.75em;
		margin:0 auto .625em;
		.fn_border_radius(2.25em);
	}
	.hui-tips-txt{
		font-weight:bold;
	}
}
.hui-tips-notxt{
	padding:0;
	.hui-icon{
		margin:0;
	}
	.hui-icon-loading{
		.fn_opacity(0.18);
	}
}
.hui-tips-white{
	background: #fff;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
}
.hui-tips-black{
	background: #111;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	.fn_linear_gradient_top(#3c3c3c,#111);
}
.hui-tips-error{
	background: #eee;
	color: #c00;
	.fn_linear_gradient_top(#fff,#f1f1f1);
}
//对话框
.hui-dialog{
	.hui-popup();
	width: 92.5%;
	max-width: 500px;
	padding: 0;
	top: -15px;
	z-index: 1000;
	overflow:hidden;
	&>:first-child{
		//.fn_border_radius_top(inherit);
	}
	.hui-dialog-header{
		border: 0;
		padding: 0;
		overflow: hidden;
	}
	.hui-dialog-body{
		color: #333;
		text-shadow: 0 1px 0 #fff;
		background: #f9f9f9;
		display: block;
		position: relative;
		width: auto;
		margin: 0;
		border-width: 0;
		overflow: visible;
		overflow-x: hidden;
		//.fn_border_radius_bottom(inherit);
		.fn_linear_gradient_top(#f9f9f9,#eee);
	}
	.hui-body-content{
		padding:15px;
	}
	.hui-body-action{
		//.fn_border_radius_bottom(inherit);
	}
	.hui-content-title{
		font-size:2em;
		font-weight:bold;
	}
	.hui-content-msg{
		margin:10px 0 10px 0;
	}
}

//列表
.hui-list{
	.hui-list-item{
		position:relative;
		border-bottom:1px solid #d5d6d7;
		padding:5px;
		&:hover,&:active{
			background:#f3f3f3;
		}
	}
	.hui-item-image{
		float:left;
		margin-right:10px;
		img{
			height:75px;
		}
	}
	.hui-item-content{
		float:left;
	}
	.hui-item-title{
		.fn_text_overflow();
		color:#222;
		font-size:16px;
		padding-bottom:5px;
	}
	.hui-item-desc{
		.fn_text_overflow();
		font-size:12px;
		color:#6a6a6a;
		vertical-align:bottom;
		padding-bottom:1px;
		.hui-icon{
			margin-right:2px;
		}
	}
	.hui-item-link{
		position:absolute;
		margin-top:-18px;
		width:36px;
		height:36px;
		top:50%;
		right:5px;
		text-align:center;
		vertical-align:middle;
		.hui-icon{
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-11px;
			margin-left:-11px;
		}
	}
}
//遮罩层
.hui-mask{
	position: absolute;
	z-index: 998;
	left: 0;
	top: 0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	background: black;
	.fn_opacity(0.2);
}

//公用效果
//内联样式（自适应宽度）
.hui-inline{
	.fn_inline_block();
}
//圆角
.hui-radius-little{
	.fn_border_radius(.2em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.hui-radius-normal{
	.fn_border_radius(.4em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.hui-radius-big{
	.fn_border_radius(1em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
//阴影
.hui-shadow{
	.fn_box_shadow( 0 1px 3px rgba(0,0,0,.2));
}
//内阴影
.hui-shadow-inset{
	.fn_box_shadow(inset 0 1px 4px rgba(0,0,0,.2));
}
//覆盖层阴影
.hui-shadow-overlay{
	.fn_box_shadow(0 0px 12px rgba(0,0,0,.6));
}
//（黑色工具栏内按钮）亮阴影
.hui-shadow-surround {
	.fn_box_shadow(~"0 1px 0 rgba(255,255,255,.3),inset 0 1px 0 rgba(255,255,255,.3)");
}
//聚焦
.hui-focus{
	.fn_box_shadow(0 0 12px #387bbe);
}
//禁止
.hui-disable{
	cursor: default!important;
	pointer-events: none;
	zoom: 1;
	.fn_opacity(0.3);
	z-index: 1;
}
//小尺寸
.hui-mini{
	&.hui-btn{
		margin-top: .25em;
		margin-bottom: .25em;
	}
	font-size: 12.5px;
	&.hui-icon,.hui-icon{
		width:18px;
		height:18px;
	}
}
//半透明，减淡颜色
.hui-light{
	.fn_opacity(0.5);
}
//动画
.hui-slide-right{
	.fn_transition(all 0s linear);
	.fn_transform(translate3d(300%,0,0));
}
.hui-slide-show{
	.fn_transition(all 0.1s linear);
	.fn_transform(translate3d(0,0,0));
}
.hui-slide-hide{
	.fn_transition(all 0.05s linear);
	.fn_transform(translateX(-300%));
}