//组件，class以"w-"开头，次级以上级名称为命名前缀，如上级名为w-list-item,则次级以w-item-为前缀

@import "function.less";
@import "base64img.less";


//图标
.w-icon{
	width:18px;
	height:18px;
	.fn_inline_block();
	background-image:url("../img/global.png");
}
.w-icon-bg{
	background-color: #666;
	background-color:rgba(0,0,0,.4);
	background-repeat: no-repeat;
	.fn_border_radius(9px);
}
.w-icon-location{
	background-position:-101px -15px;
}
.w-icon-edit{
	background-position:-32px -15px;
}
.w-icon-del{
	.icons-18-white();
	background-position:-144px 0px;
}
.w-icon-search{
	background-position:-138px -14px;
}

//按钮
.w-btn{
	display: block;
	position: relative;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	padding: .6em 20px;
	min-width: .75em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	zoom:1;
	border: 1px solid #ccc;
	background: #eee;
	font-weight: 700;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	.fn_linear_gradient_top(#fff,#f1f1f1);
	&:hover{
		border: 1px solid #bbb ;
		background: #dfdfdf ;
		font-weight: bold;
		color: #222 ;
		text-shadow: 0 1px 0 #fff;
		.fn_linear_gradient_top(#f6f6f6,#e0e0e0);
	}
}
//内联按钮（自适应宽度）
.w-inline{
	.fn_inline_block();
}
//激活按钮
.w-btn-active {
	border: 1px solid #2373a5;
	background: #5393c5;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 #3373a5;
	text-decoration: none;
	.fn_linear_gradient_top(#5f9cc5,#6facd5);
}
.w-btn-active:hover{
	.w-btn-active;
}
//黑色
.w-btn-black{
	border: 1px solid #111;
	background: #333;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	.fn_linear_gradient_top(#444,#2d2d2d);
	&:hover{
		border: 1px solid #000;
		background: #444;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #111;
		.fn_linear_gradient_top(#555,#383838);
	}
	
}
//蓝色按钮
.w-btn-blue{
	border: 1px solid #044062;
	background: #396b9e;
	color: #fff;
	text-shadow: 0 1px 0 #194b7e;
	.fn_linear_gradient_top(#5f9cc5,#396b9e);
	&:hover{
		border: 1px solid #00415e ;
		background: #4b88b6;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #194b7e;
		.fn_linear_gradient_top(#6facd5,#4272a4);
	}
}
//带图标按钮
.w-btn-icon-left{
	padding-left:40px;
	&.w-mini{
		padding-left:30px;
	}
	.w-icon{
		position:absolute;
		top:50%;
		margin-top:-9px;
		left:10px;
	}
}
.w-btn-icon-top{
	padding-top:30px;
	.w-icon{
		position:absolute;
		left:50%;
		margin-left:-9px;
		top:10px;
	}
}
.w-btn-icon-notxt{
	padding:0;
	width:24px;
	height:24px;
	.w-icon{
		margin: 3px 1px 2px 1px;
	}
}

//输入框
.w-input{
	padding: 0 .4em;
	position: relative;
	border: 1px solid #aaa;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #f9f9f9;
	.w-shadow-inset();
	.w-input-txt,.w-textarea{
		border: 0;
		width: 100%;
		padding: .4em 0;
		margin: 0;
		background: transparent none;
		outline: 0!important;
		-webkit-appearance: none;
		min-height: 1.4em;
		line-height: 1.4em;
		font-size: 16px;
	}
	.w-textarea{
		outline: 0;
    	.fn_transition(height 200ms linear);
    	.fn_box_sizing();
	}
}
.w-input-icon-left{
	padding-left:40px;
	.w-icon{
		position:absolute;
		left:10px;
		top:50%;
		margin-top:-9px;
	}
}
.w-input-btn-right{
	padding-right:40px;
	.w-btn{
		position:absolute;
		right:10px;
		top:50%;
		margin-top:-13px;
	}
}

//普通表单
.w-form{
	.w-form-tips{
		text-align:center;
	}
	.w-form-field{
		margin:1em 0;
	}
	.w-form-left{
		width:20%;
		text-align:right;
		.fn_inline_block();
		vertical-align:middle;
	}
	.w-form-vt{
		vertical-align:top;
	}
	.w-form-right{
		width:78%;
		vertical-align:middle;
		.fn_inline_block();
	}
	.w-form-action{
		padding-left:22%;
		.w-btn{
			margin-right:30px;
		}
	}
}

//工具栏
.w-tbar{
	position: relative;
	zoom: 1;
	width:100%;
	font-family: Helvetica,Arial,sans-serif;
	background: #111;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 -1px 0 #000;
	.fn_linear_gradient_top(#3c3c3c,#111);
	.w-tbar-title{
		min-height: 1.1em;
		text-align: center;
		font-size: 16px;
		display: block;
		padding: .6em 30% .8em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		outline: 0!important;
	}
	.w-tbar-btn-left,.w-tbar-btn-right{
		position:absolute;
		top:50%;
		margin-top:-16px;
	}
	.w-tbar-btn-left{
		left:5px;
	}
	.w-tbar-btn-right{
		right:5px;
	}
	.w-btn-icon-notxt{
		margin-top:-13px;
	}
}
.w-tbar-gray{
	border: 1px solid #bbb;
	background: #bbb;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	.fn_linear_gradient_top(#ddd,#bbb);
}
.w-header{
	position:fixed;
	left:0;
	top:0;
}
.w-footer{
	position:fixed;
	bottom:0;
	left:0
}
//标签栏
.w-tab{
	.w-tab-item{
		float:left;
		&:last-child .w-btn{
			border-right-width:1px;
		}
	}
	.w-btn{
		border-right-width:0;
	}
}
//对话框
.w-dialog{
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px;
	padding: 0;
	position: relative;
	top: -15px;
	z-index: 1000;
	.w-dialog-header{
		border: 0;
		overflow: hidden;
		padding: 0;
		.fn_border_radius_top(inherit);
	}
	.w-dialog-body{
		color: #333;
		text-shadow: 0 1px 0 #fff;
		background: #f9f9f9;
		padding:15px;
		display: block;
		position: relative;
		width: auto;
		margin: 0;
		border-width: 0;
		overflow: visible;
		overflow-x: hidden;
		.fn_border_radius_bottom(inherit);
		.fn_linear_gradient_top(#f9f9f9,#eee);
	}
	.w-content-title{
		font-size:2em;
		font-weight:bold;
	}
	.w-content-msg{
		margin:10px 0 25px 0;
	}
}

//列表
.w-list{
	.w-list-item{
		position:relative;
		border-bottom:1px solid #a1a1a1;
		padding:5px;
	}
	.w-item-image{
		float:left;
	}
	.w-item-content{
		float:left;
	}
	.w-item-title{
		.fn_text_overflow();
		color:#505050;
		font-size:16px;
		padding-bottom:5px;
	}
	.w-item-desc{
		.fn_text_overflow();
		font-size:12px;
		color:#7a7a7a;
		padding-bottom:1px;
	}
	.w-item-link{
		position:absolute;
		background-position:-215px -36px;
		margin-top:-18px;
		width:36px;
		height:36px;
		top:50%;
		right:5px;
	}
}
//公用效果
//圆角
.w-radius-little{
	.fn_border_radius(.3em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.w-radius-normal{
	.fn_border_radius(.6em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.w-radius-big{
	.fn_border_radius(1em);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
//阴影
.w-shadow{
	.fn_box_shadow( 0 1px 3px rgba(0,0,0,.2));
}
//内阴影
.w-shadow-inset{
	.fn_box_shadow(inset 0 1px 4px rgba(0,0,0,.2));
}
//覆盖层阴影
.w-overlay-shadow{
	.fn_box_shadow(0 0px 12px rgba(0,0,0,.6));
}
//（黑色工具栏内按钮）亮阴影
.w-shadow-surround {
	.fn_box_shadow(~"0 1px 0 rgba(255,255,255,.3),inset 0 1px 0 rgba(255,255,255,.3)");
}
//聚焦
.w-focus{
	.fn_box_shadow(0 0 12px #387bbe);
}
//禁止
.w-disable{
	cursor: default!important;
	pointer-events: none;
	zoom: 1;
	.fn_opacity(0.3);
	z-index: 1;
}
//小尺寸
.w-mini{
	margin-top: .25em;
	margin-bottom: .25em;
	font-size: 12.5px;
	padding-top: .55em 11px .5em;
}
//遮罩层
.w-mask{
	position: absolute;
	z-index: 998;
	left: 0;
	top: 0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	background: black;
	.fn_opacity(0.2);
}
//loading
.w-loading{
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	width:46px;
	height:46px;
	background-image:url("../img/loading.gif");
	background-repeat:no-repeat;
	.fn_opacity(0.18);
	.fn_border_radius(36px);
}