<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>test handy libraly</title>
<script type="text/javascript"
	src="../lib/jquery.js"></script>
<script type="text/javascript"
	src="../src/js/base/base.js"></script>
<script type="text/javascript"
	src="../src/js/base/Json.js"></script>
<script type="text/javascript"
	src="../src/js/base/Object.js"></script>
<script type="text/javascript"
	src="../src/js/base/Browser.js"></script>
<script type="text/javascript"
	src="../src/js/base/Debug.js"></script>
<script type="text/javascript"
	src="../src/js/base/Function.js"></script>
<script type="text/javascript"
	src="../src/js/base/Loader.js"></script>
<script type="text/javascript"
	src="../src/js/base/Date.js"></script>
<script type="text/javascript"
	src="../src/js/base/String.js"></script>
<script type="text/javascript"
	src="../src/js/base/Cookie.js"></script>
<script type="text/javascript"
	src="../src/js/base/Util.js"></script>
<script type="text/javascript"
	src="../src/js/base/Template.js"></script>
<script type="text/javascript"
	src="../src/js/base/HashChange.js"></script>
<script type="text/javascript"
	src="../src/js/base/adapt.js"></script>
<script type="text/javascript" src="/Users/hui/Documents/workspace/study/src/main/webapp/lib/artTemplate/src/template.js"></script>
<script id="tmpl" type="text/html">

</script>
</head>
<body>
<script type="text/javascript">
var tmpl = '<% for(var i = 0; i < this.posts.length; i++) {' +　
'var post = this.posts[i]; %>' +
'<% if(!post.expert){ %>' +
    '<span>post is null</span>' +
'<% } else { %>' +
    '<a href="#"><%=post.expert %> at <%=post.time %></a>' +
'<% } %>' +
'<% } %>';
var data = {
	    "posts": [{
	        "expert": "content 1",
	        "time": "yesterday"
	    },{
	        "expert": "content 2",
	        "time": "today"
	    },{
	        "expert": "content 3",
	        "time": "tomorrow"
	    },{
	        "expert": "",
	        "time": "eee"
	    }]
	};
$D.log($H.Template.tmpl(tmpl,data));
var source =
	  '<ul>'
	+    '<% var e=1;for (var i = 0; i < list.length; i ++) { %>'
	+        '<li>索引 <%= i + 1 %> ：<%= list[i] %><%= ee %><%= e %></li>'
	+    '<% } %>'
	+ '</ul>';

	var data = {
			ee:'',
	    list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
	};

	var render = template.compile(source);
	console.log(render)
	var html = render(data);
	console.log(html)
</script>
</body>
</html>