html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 100%;
}
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
  color: #333;
}
.hui-mobile body {
  font-size: 15px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
}
a:focus,
a:active {
  border: none;
  outline: none;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
  /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -ms-touch-action: none;
}
input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: auto;
  -moz-user-select: text;
}
input[type="text"] {
  -webkit-appearance: none;
}
/* ipad/iphone设备input有阴影 */
/*
http://www.w3cplus.com/content/css3-box-sizing
.submit,
.reset,
.button,
.text,
.select,
.textarea,
.checkbox,
.radio {
	margin: 0;
	padding: 0;
	border-width: 1px;
	height: 1.063em;
	//IE6、7不支持box-sizing
	*height:0.938em; 
    *width: 0.938em;
}
				
*/
/*
iPhone / iPod Touch
@media only screen and (max-device-width: 480px) {}
iPhone mit Retina Display
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) { }
iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {}
oder:
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {}
*/
@media only screen and (max-width: 999px) {
  html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  }
}
@media only screen and (min-width: 999px) {
  html {
    font-family: tahoma, arial, sans-serif;
  }
  a,
  img {
    -webkit-touch-callout: none;
    /* 禁止长按链接与图片弹出菜单 */
  }
}
