html,
body {
  overflow: hidden;
  height: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
}
body {
  position: relative;
}
body,
input,
textarea {
  font-family: arial;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
}
*:focus {
  outline: none;
}
input[type="text"] {
  -webkit-appearance: none;
}
/* ipad/iphoneè®¾å??input?????´å½± */
/*
http://www.w3cplus.com/content/css3-box-sizing
.submit,
.reset,
.button,
.text,
.select,
.textarea,
.checkbox,
.radio {
	margin: 0;
	padding: 0;
	border-width: 1px;
	height: 17px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	//IE6???7ä¸???????box-sizing
	*height:15px; 
    *width: 15px;
}
				
.checkbox,
.radio {
	width: 13px;
	height: 13px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*/
/*
iPhone / iPod Touch
@media only screen and (max-device-width: 480px) {}
iPhone mit Retina Display
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) { }
iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {}
oder:
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {}
*/
@media only screen and (max-width: 999px) {
  html {
    font-family: Helvetica, Arial, sans-serif;
  }
}
@media only screen and (min-width: 999px) {
  html {
    font-family: Arial;
  }
}
