.hui-icon {
  width: 1.375em;
  height: 1.375em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  vertical-align: middle;
}
.hui-icon-carat-l,
.hui-icon-carat-r,
.hui-icon-location {
  background-size: auto 1em;
}
.hui-icon-carat-u,
.hui-icon-carat-d,
.hui-icon-eye,
.hui-icon-cloud,
.hui-icon-mail,
.hui-icon-minus {
  background-size: 1em auto;
}
.hui-icon-bg-gray {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.4);
}
.hui-icon-gray {
  filter: alpha(opacity= 50 );
  opacity: 0.5;
}
.hui-icon-big {
  width: 2em;
  height: 2em;
  background-size: 1.5em;
}
.hui-icon-loading {
  background-size: auto;
}
.hui-mi-csstransforms .hui-icon-loading,
.hui-mi-csstransforms .hui-icon-loading-mini {
  background-image: none;
  border: 0.313em solid #ccc;
  opacity: .9;
  border-top: 0.313em solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 2.25em;
  -moz-border-radius: 2.25em;
  border-radius: 2.25em;
  width: 2.75em;
  height: 2.75em;
  margin: 0 auto;
  animation: spin 0.5s infinite linear;
  -webkit-animation: spin 0.5s infinite linear;
  /* Safari 和 Chrome */
}
.hui-mi-csstransforms .hui-icon-loading-mini {
  width: 1em;
  height: 1em;
  border-width: 0.125em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hui-btn {
  position: relative;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
  padding: 0.438em 1em;
  min-width: 0.75em;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
  zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hui-btn:hover {
  font-weight: bold;
}
.hui-btn .hui-btn-ext {
  color: #D10000;
  font-weight: normal;
}
.hui-btn-mark {
  display: none;
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  left: 0.625em;
  top: 50%;
  margin-top: -0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.hui-btn-mark-black .hui-btn-mark {
  display: block;
  background-color: #000;
}
.hui-btn-mark-red .hui-btn-mark {
  display: block;
  background-color: red;
}
.hui-btn-white {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
.hui-btn-white:hover {
  border: 1px solid #bbb ;
  background: #eee ;
  color: #666 ;
}
.hui-btn-gray {
  border: 1px solid #ccc;
  background: #f9f9f9;
  color: #666;
}
.hui-btn-gray:hover {
  border: 1px solid #bbb ;
  background: #eee ;
  color: #666 ;
}
.hui-btn-gray.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  /* IE10 */
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  /* Opera 11.10+ */
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.hui-btn-gray.hui-gradient:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  /* IE10 */
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  /* Opera 11.10+ */
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.hui-btn-dark {
  background: #444;
  color: #fff;
}
.hui-btn-dark:hover {
  background: #333;
}
.hui-btn-black {
  border: 1px solid #111;
  background: #333;
  color: #fff;
}
.hui-btn-black:hover {
  border: 1px solid #000;
  background: #444;
  font-weight: bold;
  color: #fff;
}
.hui-btn-black.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#2d2d2d));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#444444, #2d2d2d);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#444444, #2d2d2d);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#444444, #2d2d2d);
  /* IE10 */
  background-image: -o-linear-gradient(#444444, #2d2d2d);
  /* Opera 11.10+ */
  background-image: linear-gradient(#444444, #2d2d2d);
}
.hui-btn-black.hui-gradient:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#383838));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#555555, #383838);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#555555, #383838);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#555555, #383838);
  /* IE10 */
  background-image: -o-linear-gradient(#555555, #383838);
  /* Opera 11.10+ */
  background-image: linear-gradient(#555555, #383838);
}
.hui-btn-blue {
  border: 1px solid #044062;
  background: #396b9e;
  color: #fff;
}
.hui-btn-blue:hover {
  border: 1px solid #00415e ;
  background: #4b88b6;
  font-weight: bold;
  color: #fff;
}
.hui-btn-blue.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#5f9cc5, #396b9e);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#5f9cc5, #396b9e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#5f9cc5, #396b9e);
  /* IE10 */
  background-image: -o-linear-gradient(#5f9cc5, #396b9e);
  /* Opera 11.10+ */
  background-image: linear-gradient(#5f9cc5, #396b9e);
}
.hui-btn-blue.hui-gradient:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6facd5), to(#4272a4));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#6facd5, #4272a4);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#6facd5, #4272a4);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#6facd5, #4272a4);
  /* IE10 */
  background-image: -o-linear-gradient(#6facd5, #4272a4);
  /* Opera 11.10+ */
  background-image: linear-gradient(#6facd5, #4272a4);
}
.hui-btn-green {
  border: 1px solid #37AD2D;
  background: #1fa745;
  color: #fff;
}
.hui-btn-green:hover {
  border: 1px solid #37AD2D ;
  background: #24B44D;
  font-weight: bold;
  color: #fff;
}
.hui-btn-green.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0fe978), to(#1fa745));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#0fe978, #1fa745);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#0fe978, #1fa745);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#0fe978, #1fa745);
  /* IE10 */
  background-image: -o-linear-gradient(#0fe978, #1fa745);
  /* Opera 11.10+ */
  background-image: linear-gradient(#0fe978, #1fa745);
}
.hui-btn-green.hui-gradient:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34e589), to(#24b44d));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#34e589, #24b44d);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#34e589, #24b44d);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#34e589, #24b44d);
  /* IE10 */
  background-image: -o-linear-gradient(#34e589, #24b44d);
  /* Opera 11.10+ */
  background-image: linear-gradient(#34e589, #24b44d);
}
.hui-btn-active {
  border: 1px solid #2373a5;
  background: #5393c5;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.hui-btn-active.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#6facd5));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#5f9cc5, #6facd5);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#5f9cc5, #6facd5);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#5f9cc5, #6facd5);
  /* IE10 */
  background-image: -o-linear-gradient(#5f9cc5, #6facd5);
  /* Opera 11.10+ */
  background-image: linear-gradient(#5f9cc5, #6facd5);
}
.hui-btn-active:hover {
  border: 1px solid #2373a5;
  background: #5393c5;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.hui-btn.hui-btn-active-b {
  color: #548805;
}
.hui-btn.hui-btn-active-b,
.hui-btn.hui-btn-active-b:hover {
  padding-bottom: 0.25em;
  border-bottom: 0.188em solid #73bf00;
}
.hui-btn.hui-btn-active-c .hui-icon-bg,
.hui-btn.hui-btn-active-c:hover .hui-icon-bg {
  background-color: #73bf00;
}
.hui-btn-black.hui-btn-active-c {
  color: #73bf00;
  background: #444;
  font-weight: bold;
}
.hui-btn-black.hui-btn-active-c.hui-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#383838));
  /* old webkit,Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#555555, #383838);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#555555, #383838);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#555555, #383838);
  /* IE10 */
  background-image: -o-linear-gradient(#555555, #383838);
  /* Opera 11.10+ */
  background-image: linear-gradient(#555555, #383838);
}
.hui-btn.hui-btn-back {
  overflow: visible;
  margin-left: 0.938em;
  -moz-border-radius-topleft: 0.188em;
  -webkit-border-top-left-radius: 0.188em;
  border-top-left-radius: 0.188em;
  -moz-border-radius-bottomleft: 0.188em;
  -webkit-border-bottom-left-radius: 0.188em;
  border-bottom-left-radius: 0.188em;
}
.hui-btn.hui-btn-back:before {
  content: '';
  position: absolute;
}
.hui-mi-csstransforms .hui-btn-back:before {
  left: -0.625em;
  top: 0.25em;
  width: 1.313em;
  height: 1.313em;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hui-mi-csstransforms .hui-btn-back.hui-shadow-surround:before {
  left: -0.75em;
  top: 0.313em;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-black.hui-size-mini:before {
  width: 1.5em;
  height: 1.5em;
  left: -0.75em;
  top: 0.313em;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-gray:before {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-gray.hui-gradient:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(45deg, #ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(45deg, #ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(45deg, #ffffff, #f1f1f1);
  background-image: -o-linear-gradient(45deg, #ffffff, #f1f1f1);
  background-image: linear-gradient(45deg, #ffffff, #f1f1f1);
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-gray:hover:before {
  background-color: #dfdfdf;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-gray.hui-gradient:hover:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(45deg, #f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(45deg, #f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(45deg, #f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(45deg, #f6f6f6, #e0e0e0);
  background-image: linear-gradient(45deg, #f6f6f6, #e0e0e0);
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-black:before {
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  background-color: #333;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-black.hui-gradient:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#444444), to(#2d2d2d));
  background-image: -webkit-linear-gradient(45deg, #444444, #2d2d2d);
  background-image: -moz-linear-gradient(45deg, #444444, #2d2d2d);
  background-image: -ms-linear-gradient(45deg, #444444, #2d2d2d);
  background-image: -o-linear-gradient(45deg, #444444, #2d2d2d);
  background-image: linear-gradient(45deg, #444444, #2d2d2d);
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-black:hover:before {
  background-color: #444;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-black.hui-gradient:hover:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#555555), to(#383838));
  background-image: -webkit-linear-gradient(45deg, #555555, #383838);
  background-image: -moz-linear-gradient(45deg, #555555, #383838);
  background-image: -ms-linear-gradient(45deg, #555555, #383838);
  background-image: -o-linear-gradient(45deg, #555555, #383838);
  background-image: linear-gradient(45deg, #555555, #383838);
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-blue:before {
  border-right: 1px solid #044062;
  border-bottom: 1px solid #044062;
  background-color: #396b9e;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-blue.hui-gradient:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#5f9cc5), to(#396b9e));
  background-image: -webkit-linear-gradient(45deg, #5f9cc5, #396b9e);
  background-image: -moz-linear-gradient(45deg, #5f9cc5, #396b9e);
  background-image: -ms-linear-gradient(45deg, #5f9cc5, #396b9e);
  background-image: -o-linear-gradient(45deg, #5f9cc5, #396b9e);
  background-image: linear-gradient(45deg, #5f9cc5, #396b9e);
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-blue:hover:before {
  background-color: #4b88b6;
}
.hui-mi-csstransforms .hui-btn-back.hui-btn-blue.hui-gradient:hover:before {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0%, from(#6facd5), to(#4272a4));
  background-image: -webkit-linear-gradient(45deg, #6facd5, #4272a4);
  background-image: -moz-linear-gradient(45deg, #6facd5, #4272a4);
  background-image: -ms-linear-gradient(45deg, #6facd5, #4272a4);
  background-image: -o-linear-gradient(45deg, #6facd5, #4272a4);
  background-image: linear-gradient(45deg, #6facd5, #4272a4);
}
.hui-mi-no-csstransforms .hui-btn-back {
  border-left: 0;
}
.hui-mi-no-csstransforms .hui-btn-back:before {
  left: -2em;
  top: 0;
  border: 1em solid transparent;
  border-right: 1em solid #333;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-size-mini:before {
  left: -2.063em;
  border-width: 1.063em;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-gray:before {
  border-right-color: #eee;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-gray:hover:before {
  border-right-color: #dfdfdf;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-black:before {
  border-right-color: #333;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-black:hover:before {
  border-right-color: #444;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-blue:before {
  border-right-color: #396b9e;
}
.hui-mi-no-csstransforms .hui-btn-back.hui-btn-blue:hover:before {
  border-right-color: #4b88b6;
}
.hui-btn-icon-left .hui-icon,
.hui-btn-icon-right .hui-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.688em;
}
.hui-btn-icon-left.hui-size-mini .hui-icon,
.hui-btn-icon-right.hui-size-mini .hui-icon {
  margin-top: -0.563em;
}
.hui-btn-icon-left {
  padding-left: 2.25em;
}
.hui-btn-icon-left .hui-icon {
  left: 0.688em;
}
.hui-btn-icon-right {
  padding-right: 2.25em;
}
.hui-btn-icon-right .hui-icon {
  right: 0.688em;
}
.hui-btn-icon-top .hui-icon,
.hui-btn-icon-bottom .hui-icon {
  position: absolute;
  left: 50%;
  margin-left: -0.688em;
}
.hui-btn-icon-top.hui-size-mini .hui-icon,
.hui-btn-icon-bottom.hui-size-mini .hui-icon {
  margin-left: -0.563em;
}
.hui-btn-icon-top {
  padding-top: 2em;
}
.hui-btn-icon-top .hui-icon {
  top: 0.313em;
}
.hui-btn-icon-top.hui-size-mini {
  padding-top: 1.5em;
}
.hui-btn-icon-top.hui-size-mini .hui-icon {
  top: 0.125em;
}
.hui-btn-icon-bottom {
  padding-bottom: 1.75em;
}
.hui-btn-icon-bottom .hui-icon {
  bottom: 0.313em;
}
.hui-btn-icon-bottom.hui-size-mini {
  padding-bottom: 1.5em;
}
.hui-btn-icon-bottom.hui-size-mini .hui-icon {
  bottom: 0.125em;
}
.hui-btn-icon-notxt {
  padding: 0;
  width: 1.875em;
  height: 1.875em;
}
.hui-btn-icon-notxt .hui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.688em;
  margin-left: -0.688em;
}
.hui-btn-adapt {
  height: 100%;
  border: none;
}
.hui-btn-adapt:hover {
  border: none;
}
.hui-image {
  position: relative;
  overflow: hidden;
  background: #AFB6B1;
}
.hui-image img {
  position: absolute;
  left: 0;
  top: 0;
}
.hui-panel {
  position: relative;
}
.hui-panel.hui-panel-gray {
  background-color: #eee;
}
.hui-panel .hui-panel-loading {
  position: relative;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.hui-panel .hui-panel-loading .hui-loading-container {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -3.125em;
  width: 100%;
}
.hui-panel .hui-panel-loading .hui-tips {
  position: static;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-left: auto;
  margin-right: auto;
}
.hui-panel .hui-panel-loading .hui-mask {
  filter: alpha(opacity= 10 );
  opacity: 0.1;
  z-index: 1;
}
.hui-ctrlgp {
  border: 1px solid #ccc;
}
.hui-ctrlgp > * {
  margin: 0;
}
.hui-ctrlgp-h {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-ctrlgp-h > .hui-btn {
  float: left;
  margin: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
.hui-ctrlgp-h > .hui-btn.hui-item-first {
  border-left: 0;
  -moz-border-radius-topleft: inherit;
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -moz-border-radius-bottomleft: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.hui-ctrlgp-h > .hui-btn.hui-item-last {
  -moz-border-radius-topright: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -moz-border-radius-bottomright: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.hui-ctrlgp-v .hui-btn {
  margin: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.hui-ctrlgp-v .hui-btn:nth-of-type(1) {
  border-top: 0;
  -moz-border-radius-topleft: inherit;
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -moz-border-radius-topright: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.hui-ctrlgp-v .hui-btn:nth-last-of-type(1) {
  -moz-border-radius-bottomleft: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -moz-border-radius-bottomright: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.hui-radio.hui-btn,
.hui-chkbox.hui-btn {
  padding-left: 2.188em;
  text-align: left;
  vertical-align: bottom;
  margin: 0;
}
.hui-radio .hui-icon,
.hui-chkbox .hui-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.688em;
  left: 0.625em;
}
.hui-radio input,
.hui-chkbox input {
  display: none;
}
.hui-popup {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  -webkit-transform: translateZ(0);
}
.hui-popup-fixed {
  position: fixed;
}
.hui-menu {
  overflow: auto;
  max-height: 12.5em;
}
.hui-menu .hui-icon-check {
  display: none;
  background-size: 0.625em 0.625em;
  filter: alpha(opacity= 50 );
  opacity: 0.5;
}
.hui-menu .hui-item-select .hui-icon-check {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-menu .hui-btn {
  color: #666;
  font-weight: normal;
}
.hui-select,
.hui-dsel {
  font-weight: normal;
}
.hui-select input,
.hui-dsel input {
  display: none;
}
.hui-select .hui-icon-carat-d,
.hui-dsel .hui-icon-carat-d {
  background-size: 0.625em auto;
}
.hui-slidesel {
  position: relative;
}
.hui-slidesel .hui-slidesel-selector {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 1.75em;
  padding: 0.375em 2em;
  border-top: 0.125em solid #222;
  border-bottom: 0.125em solid #222;
}
.hui-slidesel .hui-slidesel-slider {
  position: absolute;
  top: 50%;
  text-align: center;
  height: 1.75em;
  padding: 0.375em 2em;
}
.hui-input {
  position: relative;
  border: 1px solid #aaa;
  color: #333;
  background: #f9f9f9;
  overflow: hidden;
}
.hui-input .hui-input-txt,
.hui-input textarea {
  border: 0;
  width: 100%;
  padding: 0.375em;
  margin: 0;
  background: transparent none;
  -webkit-appearance: none;
  min-height: 1.375em;
  line-height: 1.375em;
  font-size: 1em;
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
  /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
  outline: none;
}
.hui-input .hui-input-txt:focus,
.hui-input textarea:focus {
  outline: none;
}
.hui-input .hui-input-txt:active,
.hui-input textarea:active {
  outline: none;
}
.hui-input textarea {
  height: 2.75em;
  resize: none;
  display: block;
  -moz-transition: height 200ms linear;
  -webkit-transition: height 200ms linear;
  -o-transition: height 200ms linear;
  transition: height 200ms linear;
}
.hui-input-icon-left {
  padding-left: 2.5em;
}
.hui-input-icon-left .hui-icon {
  position: absolute;
  left: 0.625em;
  top: 50%;
  margin-top: -0.688em;
}
.hui-input-btn-right {
  padding-right: 2.5em;
}
.hui-input-btn-right .hui-btn {
  position: absolute;
  right: 0.625em;
  top: 50%;
  margin-top: -0.813em;
}
.hui-input-btn-right .hui-btn-icon-notxt {
  margin-top: -0.938em;
}
.hui-editor {
  position: relative;
  border: 1px solid #aaa;
  color: #333;
  background: #f9f9f9;
}
.hui-editor .hui-editor-iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 0;
}
.hui-editor .hui-editor-textarea {
  display: none;
}
.hui-click-arrow {
  position: absolute;
  margin-top: -1.125em;
  width: 1.25em;
  height: 2.25em;
  top: 50%;
  right: 0.188em;
  text-align: center;
  vertical-align: middle;
}
.hui-click-arrow .hui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.688em;
  margin-left: -0.688em;
  background-size: 0.438em;
}
.hui-news-tips {
  position: absolute;
  top: 50%;
  margin-top: -0.313em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  font-size: 0.5em;
  color: #fff;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  right: 0.313em;
}
.hui-label.hui-label-default {
  color: #222;
}
.hui-rowitem {
  position: relative;
  min-height: 2.75em;
  background-color: #fff;
}
.hui-rowitem.hui-rowitem-padding-big {
  padding: 0.75em 0.563em 0.75em 0.375em;
}
.hui-rowitem.hui-rowitem-padding-normal {
  padding: 0.5em 0.563em 0.5em 0.375em;
}
.hui-rowitem.hui-rowitem-padding-right {
  padding-right: 1.5em;
}
.hui-rowitem .hui-icon {
  margin-right: 0.625em;
}
.hui-rowitem .hui-rowitem-txt {
  word-wrap: break-word;
  word-break: break-all;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-rowitem .hui-rowitem-comment {
  color: #888;
  font-size: 0.8em;
}
.hui-rowitem .hui-rowitem-ext {
  position: absolute;
  right: 0.8em;
  top: 50%;
  margin-top: -0.4em;
  color: #888;
  font-size: 0.8em;
}
.hui-rowitem.hui-rowitem-underline {
  border-bottom: 1px solid #ddd;
}
.hui-rowitem.hui-size-mini {
  padding: 0.375em 0.563em 0.375em 0.375em;
}
.hui-field {
  position: relative;
  text-align: left;
  padding-left: 3em;
}
.hui-field .hui-field-left {
  width: 3em;
}
.hui-field .hui-field-left {
  position: absolute;
  left: 0.5em;
  height: 100%;
}
.hui-field .hui-field-left .hui-label {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
  color: #888;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.hui-field .hui-field-right {
  position: relative;
  padding: 0.75em 0.375em;
  vertical-align: middle;
}
.hui-field .hui-field-right > * {
  margin: 0;
}
.hui-field .hui-field-nopadding {
  padding: 0;
}
.hui-field .hui-icon-big {
  position: absolute;
  top: 50%;
  margin-top: -1em;
}
.hui-field-3-words .hui-field {
  padding-left: 4em;
}
.hui-field-3-words .hui-field .hui-field-left {
  width: 4em;
}
.hui-field-4-words .hui-field {
  padding-left: 5em;
}
.hui-field-4-words .hui-field .hui-field-left {
  width: 5em;
}
.hui-field-5-words .hui-field {
  padding-left: 6em;
}
.hui-field-5-words .hui-field .hui-field-left {
  width: 6em;
}
.hui-form .hui-form-tips {
  text-align: center;
}
.hui-form .hui-form-vt {
  vertical-align: top;
}
.hui-form .hui-form-action {
  padding-left: 22%;
}
.hui-form .hui-form-action .hui-btn {
  margin-right: 1.875em;
}
.hui-form .hui-form-action .hui-btn:nth-last-of-type(1) {
  margin-right: 0;
}
.hui-set {
  background-color: #fff;
  padding: 0 0.25em;
}
.hui-set.hui-set-normal .hui-set-title {
  border-bottom: 1px solid #ccc;
  padding: 0.375em;
}
.hui-set.hui-set-normal .hui-set-title .hui-btn {
  margin: 0;
}
.hui-set.hui-set-normal .hui-title-txt {
  text-align: left;
  font-weight: normal;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 2em;
}
.hui-set.hui-set-normal .hui-set-content {
  margin: 2em 0.688em;
}
.hui-set.hui-set-simple {
  margin: 0.313em 0 1em;
}
.hui-tbar {
  position: relative;
  zoom: 1;
  width: 100%;
  min-height: 2.438em;
  font-family: Helvetica, Arial, sans-serif;
  background: #444;
  color: #fff;
  font-weight: 700;
}
.hui-tbar .hui-icon-adapt {
  height: 100%;
  width: 3em;
  background-size: 1.25em;
}
.hui-tbar .hui-tbar-title {
  min-height: 1.063em;
  text-align: center;
  font-size: 1.125em;
  display: block;
  padding: 0.625em 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0!important;
}
.hui-tbar .hui-tbar-left,
.hui-tbar .hui-tbar-right {
  position: absolute;
  height: 100%;
  top: 0;
}
.hui-tbar .hui-tbar-left {
  left: 0;
}
.hui-tbar .hui-tbar-right {
  right: 0;
  text-align: right;
}
.hui-tbar .hui-btn {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.1em;
}
.hui-tbar .hui-btn-icon-notxt {
  margin-left: 0.5em;
  margin-top: 0.25em;
}
.hui-tbar .hui-size-mini.hui-btn {
  margin-top: 0.5em;
}
.hui-tbar .hui-btn-back {
  margin-left: 1.5em;
}
.hui-tbar .hui-btn-adapt {
  padding-top: 0.625em;
  font-size: 1.125em;
  margin: 0;
}
.hui-tbar .hui-tab {
  margin: 0;
}
.hui-tbar-align-left .hui-tbar-title {
  text-align: left;
}
.hui-tbar-gray {
  border: 1px solid #bbb;
  background: #bbb;
  color: #333;
}
.hui-header,
.hui-footer {
  position: fixed;
  left: 0;
  z-index: 100;
  min-height: 2.75em;
}
.hui-header {
  top: 0;
}
.hui-footer {
  bottom: 0;
}
.hui-tab {
  position: relative;
}
.hui-tab .hui-tabitem {
  float: left;
}
.hui-tab .hui-tabitem .hui-btn {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.hui-tab .hui-tabitem .hui-btn {
  border-left-width: 0;
  border-right-width: 0;
}
.hui-tab .hui-tabitem.hui-item-first .hui-btn {
  border-left-width: 1px;
}
.hui-tab .hui-tabitem.hui-item-last .hui-btn {
  border-right-width: 1px;
}
.hui-tab .hui-tab-content {
  position: absolute;
  width: 100%;
}
.hui-tab .hui-ani {
  -moz-transition: left 0.1s linear;
  -webkit-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear;
}
.hui-tab-sep .hui-tabitem .hui-btn {
  border-right-width: 1px;
}
.hui-tab-border-top .hui-tabitem.hui-item-first .hui-btn,
.hui-tab-border-bottom .hui-tabitem.hui-item-first .hui-btn,
.hui-tab-no-border .hui-tabitem.hui-item-first .hui-btn {
  border-left-width: 0;
}
.hui-tab-border-top .hui-tabitem.hui-item-last .hui-btn,
.hui-tab-border-bottom .hui-tabitem.hui-item-last .hui-btn,
.hui-tab-no-border .hui-tabitem.hui-item-last .hui-btn {
  border-right-width: 0;
}
.hui-tab-border-top .hui-tab-titles .hui-btn {
  border-bottom: 0;
}
.hui-tab-border-bottom .hui-tab-titles .hui-btn {
  border-top: 0;
}
.hui-tab-no-border .hui-tab-titles .hui-btn {
  border-top: 0;
}
.hui-tips {
  z-index: 99999;
  text-align: center;
  padding: 0.75em 1em;
}
.hui-tips .hui-icon-loading {
  width: 2.75em;
  height: 2.75em;
  margin: 0 auto 0.625em;
  -webkit-border-radius: 2.25em;
  -moz-border-radius: 2.25em;
  border-radius: 2.25em;
  background-size: contain;
}
.hui-tips .hui-tips-txt {
  margin-left: 0.375em;
  word-wrap: break-word;
  word-break: break-all;
}
.hui-tips.hui-size-mini {
  padding: 0.188em 0.5em;
  font-size: 1em;
}
.hui-tips-notxt {
  padding: 0;
}
.hui-tips-notxt .hui-icon {
  margin: 0;
}
.hui-tips-inline {
  padding: 0.5em 1em;
}
.hui-tips-inline .hui-icon {
  position: absolute;
  left: 0.438em;
  top: 0.688em;
}
.hui-tips-inline .hui-icon {
  margin-right: 0.188em;
}
.hui-tips-inline.hui-tips-has-icon {
  padding-left: 1.75em;
}
.hui-tips-white {
  background: #fff;
  color: #333;
}
.hui-tips-arrow {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  top: initial;
}
.hui-tips-arrow .hui-triangle {
  border-left-width: 0.5em;
  border-right-width: 0.5em;
  border-top-color: #ccc;
  left: 50%;
  margin-left: -0.5em;
}
.hui-tips-arrow .hui-triangle .hui-triangle-inner {
  border-top-color: #fff;
  left: 0em;
  bottom: 0.125em;
}
.hui-tips-black {
  background: #111;
  color: #fff;
}
.hui-tips-tbar-black {
  width: 2em;
  height: 2em;
}
.hui-tips-error {
  background: #eee;
  color: #c00;
}
.hui-dialog {
  width: 92.5%;
  max-width: 31.25em;
  padding: 0;
  top: -31.25em;
  z-index: 1000;
  overflow: hidden;
}
.hui-dialog .hui-dialog-header {
  border: 0;
  padding: 0;
  overflow: hidden;
}
.hui-dialog .hui-dialog-body {
  color: #333;
  background: #f9f9f9;
  display: block;
  position: relative;
  width: auto;
  margin: 0;
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
}
.hui-dialog .hui-body-content {
  padding: 0.938em;
}
.hui-dialog .hui-body-action {
  border-top: 1px solid #ccc;
}
.hui-dialog .hui-content-title {
  font-size: 1em;
  font-weight: bold;
}
.hui-dialog .hui-content-msg {
  margin: 0.625em 0 0.625em 0;
  word-wrap: break-word;
  word-break: break-all;
}
.hui-dp {
  width: 15.625em;
}
.hui-dp .hui-content-title {
  font-size: 1.063em;
}
.hui-dp .hui-select {
  float: left;
  margin-right: 0.625em;
  padding-left: 0.188em;
  padding-right: 0.188em;
}
.hui-dp .hui-dp-year {
  margin-left: 1.625em;
}
.hui-dp .hui-dp-hour {
  margin-left: 3.563em;
}
.hui-img-upload.hui-transparent,
.hui-img-upload.hui-transparent .hui-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 30em;
  filter: alpha(opacity= 0 );
  opacity: 0;
}
.hui-img-upload img {
  max-height: 12.5em;
  max-width: 12.5em;
}
.hui-list {
  overflow-x: hidden;
  overflow-y: scroll;
}
.hui-list .hui-list-empty {
  text-align: center;
  padding: 2em 0;
}
.hui-list .hui-list-pulldown {
  padding: 0.5em 0;
}
.hui-list .hui-list-pulldown .hui-icon {
  margin-top: -1em;
}
.hui-list .hui-list-pulldown .hui-pd-txt {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-list .hui-list-pulldown .hui-pd-comment {
  font-size: .6em;
  color: #888;
}
.hui-list .hui-list-pulldown.hui-pd-release .hui-icon {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hui-list .hui-list-pulldown .hui-icon-arrow-d {
  display: inline-block;
}
.hui-list .hui-list-pulldown .hui-icon-loading-mini {
  background-size: cover;
  display: none;
}
.hui-list .hui-list-pulldown.hui-pd-refresh .hui-icon-arrow-d {
  display: none;
}
.hui-list .hui-list-pulldown.hui-pd-refresh .hui-icon-loading-mini {
  display: inline-block;
}
.hui-list .hui-pull-container {
  position: relative;
  padding-left: 1.5em;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-list .hui-pull-container .hui-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
}
.hui-list .hui-list-more {
  text-align: center;
  padding-bottom: 1.25em;
}
.hui-list .hui-list-more .hui-btn {
  margin-bottom: 0;
  width: 9.375em;
}
.hui-list .hui-list-item {
  position: relative;
  border-bottom: 1px solid #d5d6d7;
}
.hui-pc .hui-list .hui-list-item:hover,
.hui-pc .hui-list .hui-list-item:active {
  background: #fbfaf8;
}
.hui-mlist {
  position: relative;
}
.hui-mlist.hui-mlist-padding {
  padding-left: 0.625em;
  padding-right: 0.625em;
}
.hui-mlist .hui-list-inner {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hui-desc {
  font-size: 0.75em;
  color: #6a6a6a;
  vertical-align: bottom;
  padding-bottom: 0.063em;
}
.hui-desc .hui-icon {
  margin-right: 0.125em;
}
.hui-desc .hui-icon,
.hui-desc .hui-desc-txt {
  float: left;
}
.hui-desc .hui-btn {
  margin: 0 0 0 2em;
}
.hui-desc .hui-desc-right {
  float: right;
}
.hui-hcard {
  position: relative;
  padding: 0.313em;
}
.hui-hcard.hui-hcard-hasimg {
  padding-left: 4.375em;
}
.hui-hcard.hui-hcard-padding-right {
  padding-right: 1.5em;
}
.hui-hcard .hui-hcard-img {
  position: absolute;
  left: 0.313em;
}
.hui-hcard .hui-hcard-img img {
  height: 3.75em;
}
.hui-hcard .hui-content-title {
  position: relative;
  color: #222;
  font-size: 1em;
  padding-bottom: 0.313em;
}
.hui-hcard .hui-title-ext {
  margin-left: 1.5em;
  color: #888;
  font-size: 0.8em;
}
.hui-hcard .hui-title-desc {
  position: absolute;
  right: 0.625em;
  font-size: 0.75em;
  color: #6a6a6a;
}
.hui-vcard {
  margin: 0.625em 0;
}
.hui-vcard .hui-vcard-title {
  position: relative;
  background: #f1f1f1;
  padding-left: 0.375em;
}
.hui-vcard .hui-vcard-title.hui-title-hasimg {
  padding-left: 2.813em;
}
.hui-vcard .hui-vcard-title .hui-title-img {
  position: absolute;
  left: 0.625em;
}
.hui-vcard .hui-vcard-title .hui-title-img img {
  max-width: 1.875em;
  max-height: 1.875em;
}
.hui-vcard .hui-vcard-title .hui-title-txt {
  padding: 0.375em 0;
}
.hui-vcard .hui-vcard-title .hui-title-extra {
  position: absolute;
  top: 0;
  right: 0.625em;
  padding: 0.375em;
}
.hui-vcard .hui-vcard-action {
  padding-right: 0.063em;
}
.hui-vcard .hui-vcard-action .hui-btn {
  margin: 0;
}
.hui-vcard .hui-vcard-action .hui-inline {
  margin: 0.375em 1em 0.8em;
}
.hui-comment .hui-content-title {
  font-size: 0.8em;
}
.hui-comment.hui-hcard-hasimg {
  padding-left: 3.5em;
}
.hui-comment .comment-content {
  padding: 1em 0 2em 0;
  color: #222;
  font-size: 1em;
}
.hui-comment .hui-comment-quote {
  border-bottom: 1px solid #F3DDB3;
}
.hui-comment .hui-comment {
  background-color: #FFFEF4;
  border: 1px solid #F3DDB3;
  border-bottom: 0;
}
.hui-triangle {
  position: absolute;
  bottom: -1em;
  height: 0;
  width: 0;
  border: 1em solid #000;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.hui-triangle .hui-triangle-inner {
  border-top-color: #fff;
  bottom: 0.25em;
  left: -1em;
}
.hui-conversation {
  position: relative;
  padding: 0.938em 2.813em;
}
.hui-conversation .hui-conver-time {
  text-align: center;
  font-size: 0.563em;
  color: #888;
  padding: 0.063em;
}
.hui-conversation .hui-conver-img {
  position: absolute;
  width: 2.375em;
}
.hui-conversation .hui-conver-img img {
  height: 2.375em;
}
.hui-conversation .hui-conver-content {
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  color: #555;
  border: 1px solid #eee;
  -webkit-border-radius: 0.188em;
  -moz-border-radius: 0.188em;
  border-radius: 0.188em;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0.375em;
}
.hui-conversation .hui-triangle {
  top: 0.5em;
  border-width: 0.25em;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.hui-conversation.hui-conversation-left .hui-conver-img {
  left: 0;
}
.hui-conversation.hui-conversation-left .hui-conver-content {
  background: #ccccff;
}
.hui-conversation.hui-conversation-left .hui-triangle {
  left: -0.438em;
  border-right-width: 0.438em;
  border-left: 0;
  border-right-color: #ccccff;
}
.hui-conversation.hui-conversation-right .hui-conver-img {
  right: 0;
  text-align: right;
}
.hui-conversation.hui-conversation-right .hui-conver-content {
  float: right;
  background-color: #99ccff;
}
.hui-conversation.hui-conversation-right .hui-triangle {
  right: -0.438em;
  border-left-width: 0.438em;
  border-right: 0;
  border-left-color: #99ccff;
}
.hui-input-zone {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid #ccc;
  background: #fff;
  padding: 0.625em 4.063em 0.625em 0.625em;
  padding-right: 3.125em;
}
.hui-input-zone .hui-btn {
  position: absolute;
  padding-left: 0.5em;
  padding-right: 0.5em;
  right: 0.188em;
  bottom: 0.5em;
}
.hui-mask {
  position: absolute;
  z-index: 998;
  left: 0;
  top: 1px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  filter: alpha(opacity= 20 );
  opacity: 0.2;
}
.hui-crop {
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
}
.hui-crop .hui-orig-img {
  position: absolute;
}
.hui-crop .hui-crop-box {
  position: absolute;
  cursor: move;
  z-index: 1000;
}
.hui-crop .hui-box-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.hui-crop .hui-crop-img {
  position: absolute;
}
.hui-crop .hui-box-op {
  height: 100%;
  width: 100%;
}
.hui-crop .hui-op-bar,
.hui-crop .hui-op-handle {
  position: absolute;
  z-index: 1002;
}
.hui-crop .hui-op-bar-n,
.hui-crop .hui-op-bar-s {
  height: 1em;
  width: 100%;
}
.hui-crop .hui-op-bar-w,
.hui-crop .hui-op-bar-e {
  height: 100%;
  width: 1em;
}
.hui-crop .hui-op-bar-n {
  cursor: n-resize;
  top: -0.5em;
}
.hui-crop .hui-op-bar-e {
  cursor: e-resize;
  right: -0.5em;
}
.hui-crop .hui-op-bar-s {
  cursor: s-resize;
  bottom: -0.5em;
}
.hui-crop .hui-op-bar-w {
  cursor: w-resize;
  left: -0.5em;
}
.hui-crop .hui-op-handle {
  height: 0.5em;
  width: 0.5em;
  background-color: #4AEEEE;
}
.hui-crop .hui-op-handle-n {
  cursor: n-resize;
  left: 50%;
  top: -0.25em;
  margin-left: -0.25em;
}
.hui-crop .hui-op-handle-e {
  cursor: e-resize;
  top: 50%;
  right: -0.25em;
  margin-top: -0.25em;
}
.hui-crop .hui-op-handle-s {
  cursor: s-resize;
  left: 50%;
  bottom: -0.25em;
  margin-left: -0.25em;
}
.hui-crop .hui-op-handle-w {
  cursor: w-resize;
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
}
.hui-crop .hui-mask {
  filter: alpha(opacity= 50 );
  opacity: 0.5;
}
.hui-cropwin {
  height: 100%;
  width: 100%;
  padding-top: 2.563em;
  background: #fff;
}
.hui-dispimg {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2b2b2b;
}
.hui-dispimg.hui-popup {
  position: absolute;
}
.hui-dispimg.hui-popup-fixed {
  position: fixed;
}
.hui-dispimg .hui-icon-loading {
  position: absolute;
  z-index: 1;
  width: 2.75em;
  height: 2.75em;
  left: -3.125em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.hui-dispimg img {
  position: absolute;
  left: 0;
  top: 0;
}
.hui-share {
  padding: 0.438em 0;
}
.hui-share li {
  float: left;
  height: 1.75em;
  line-height: 1.75em;
}
.hui-share li a {
  padding: 0.375em 0.219em 0.219em;
}
.hui-mobile .hui-share li a {
  padding: 0.375em 0.5em 0.219em;
}
.bsBox {
  -moz-box-sizing: initial;
  /*Firefox3.5+*/
  -webkit-box-sizing: initial;
  /*Safari3.2+*/
  -o-box-sizing: initial;
  /*Opera9.6*/
  -ms-box-sizing: initial;
  /*IE8*/
  box-sizing: initial;
  /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
}
.hui-wfall {
  position: relative;
}
.hui-wfall .hui-picard {
  position: absolute;
  top: -100em;
}
.hui-picard {
  border: 1px solid #ccc;
  width: 13.75em;
  overflow: hidden;
}
.hui-picard .hui-picard-header {
  position: relative;
}
.hui-picard .hui-picard-header.hui-hover .hui-header-op {
  display: block;
}
.hui-picard .hui-header-img {
  display: block;
}
.hui-picard .hui-header-img img {
  width: 100%;
}
.hui-picard .hui-header-op {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.hui-picard .hui-header-op .hui-mask {
  filter: alpha(opacity= 60 );
  opacity: 0.6;
  top: 0;
}
.hui-picard .hui-header-op .hui-op-container {
  position: absolute;
  z-index: 999;
  top: 50%;
  margin-top: -1em;
  width: 100%;
}
.hui-picard .hui-picard-footer {
  padding: 0.625em 1em;
  background: #fff;
}
.hui-picard .hui-picard-desc {
  font-size: 0.813em;
  color: #666;
}
.hui-picard .hui-picard-op {
  padding-top: 0.625em;
}
.hui-picard .hui-op-avatar {
  font-size: 0.813em;
  float: left;
  height: 3em;
  line-height: 3em;
}
.hui-picard .hui-avatar {
  overflow: hidden;
  width: 3em;
  height: 3em;
  float: left;
  border: 1px solid #ccc;
}
.hui-picard .hui-avatar .hui-avatar-img {
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  margin: 0.188em 0 0 0.188em;
}
.hui-picard .hui-avatar img {
  width: 100%;
}
.hui-picard .hui-op-link {
  margin: 0 0.5em;
}
.hui-picard .hui-op-desc {
  font-size: 0.813em;
  float: left;
  height: 3em;
  line-height: 3em;
  color: #888;
}
.hui-picard .hui-op-like {
  font-size: 0.813em;
  float: right;
  height: 3em;
  line-height: 3em;
  text-decoration: none;
  color: #666;
}
.hui-picard .hui-op-like .hui-icon {
  margin-top: -0.188em;
}
.hui-picard .hui-op-num {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 1.375em;
  line-height: 1.375;
}
.hui-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hui-slide .hui-slide-cont {
  position: relative;
  height: 100%;
  width: 100%;
}
.hui-slide .hui-cont-pic {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.hui-slide .hui-pic-img {
  width: 100%;
}
.hui-slide .hui-pic-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0.5em;
  background-color: #000;
  color: #fff;
  z-index: 1;
  height: 1.75em;
  line-height: 1.75em;
  filter: alpha(opacity= 50 );
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.hui-slide .hui-slide-op {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 1.75em;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.hui-slide .hui-op-btn {
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.188em;
  background-color: #B9BBAC;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.hui-slide .hui-op-btn.hui-active {
  background-color: #4BFD69;
}
.hui-border {
  border: 1px solid #eee;
}
.hui-inline {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hui-hidden {
  display: none;
}
.hui-unvisible {
  visibility: hidden;
}
.hui-radius-little {
  -webkit-border-radius: 0.188em;
  -moz-border-radius: 0.188em;
  border-radius: 0.188em;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.hui-radius-normal {
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.hui-radius-big {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.hui-radius-large {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.hui-shadow {
  -webkit-box-shadow: 0 1px 0.188em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0.188em rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0.188em rgba(0, 0, 0, 0.2);
}
.hui-shadow-inset {
  -webkit-box-shadow: inset 0 1px 0.25em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0.25em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0.25em rgba(0, 0, 0, 0.2);
}
.hui-shadow-overlay {
  -webkit-box-shadow: 0 0em 0.75em rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0em 0.75em rgba(0, 0, 0, 0.6);
  box-shadow: 0 0em 0.75em rgba(0, 0, 0, 0.6);
}
.hui-shadow-surround {
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3),inset 0 1px 0 rgba(255,255,255,.3);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.3),inset 0 1px 0 rgba(255,255,255,.3);
  box-shadow: 0 1px 0 rgba(255,255,255,.3),inset 0 1px 0 rgba(255,255,255,.3);
}
.hui-focus {
  -webkit-box-shadow: 0 0 0.75em #387bbe;
  -moz-box-shadow: 0 0 0.75em #387bbe;
  box-shadow: 0 0 0.75em #387bbe;
}
.hui-disable {
  cursor: default!important;
  pointer-events: none;
  zoom: 1;
  filter: alpha(opacity= 30 );
  opacity: 0.3;
  z-index: 1;
}
.hui-size-normal {
  font-size: 1.34em;
}
.hui-size-mini {
  font-size: 0.75em;
}
.hui-size-mini.hui-btn {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.hui-size-mini.hui-icon,
.hui-size-mini .hui-icon {
  width: 1.125em;
  height: 1.125em;
}
.hui-light {
  filter: alpha(opacity= 50 );
  opacity: 0.5;
}
.hui-lighter {
  filter: alpha(opacity= 30 );
  opacity: 0.3;
}
.hui-ani-100 {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.hui-ani-150 {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.hui-ani-200 {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hui-ani-3d {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hui-mod-independent {
  position: absolute;
  top: 0;
  width: 100%;
}
.hui-mod-zindex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
  /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
  /* -webkit-transform-style和-webkit-perspective会使子元素position:fixed失效（如：模块内工具栏） */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hui .hui-goto-left {
  -moz-transition: all 0s linear;
  -webkit-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.hui .hui-goto-right {
  -moz-transition: all 0s linear;
  -webkit-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.hui .hui-slide-center {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hui .hui-slide-left {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.hui .hui-slide-right {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.hui .ani-show 0% {
  -moz-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  filter: alpha(opacity= 0 );
  opacity: 0;
}
.hui .ani-show 100% {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
@-webkit-keyframes ani-show {
  0% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes ani-show {
  0% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes ani-show {
  0% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes ani-show {
  0% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes ani-show {
  0% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.hui .ani-hide 0% {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.hui .ani-hide 100% {
  -moz-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  filter: alpha(opacity= 0 );
  opacity: 0;
}
@-webkit-keyframes ani-hide {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
}
@-moz-keyframes ani-hide {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
}
@-ms-keyframes ani-hide {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
}
@-o-keyframes ani-hide {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
}
@keyframes ani-hide {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    filter: alpha(opacity= 0 );
    opacity: 0;
  }
}
.hui .hui-ani-show,
.hui .hui-ani-hide {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform-origin: 50% 10em;
  -webkit-transform-origin: 50% 10em;
  -o-transform-origin: 50% 10em;
  -ms-transform-origin: 50% 10em;
  transform-origin: 50% 10em;
}
.hui .hui-ani-show {
  animation: ani-show 0.2s 1 linear;
  -webkit-animation: ani-show 0.2s 1 linear;
  /* Safari 和 Chrome */
}
.hui .hui-ani-hide {
  animation: ani-hide 0.2s 1 linear;
  -webkit-animation: ani-hide 0.2s 1 linear;
  /* Safari 和 Chrome */
}
.hui-pc .hui-slide-center {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.hui-pc .hui-slide-left {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.hui-pc .hui-slide-right {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
